<form [formGroup]="form" (ngSubmit)="submit()">

  <mat-form-field appearance="outline">
    <mat-label>E-mail</mat-label>
    <input matInput formControlName="email">
    <mat-error>Введите корректный e-mail</mat-error>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Пароль</mat-label>
    <input matInput [type]="hidePassword ? 'password' : 'text'"
           formControlName="password">
    <a mat-icon-button matSuffix (click)="hidePassword = !hidePassword">
      <mat-icon [svgIcon]="hidePassword ? 'show-password' : 'hide-password'">
      </mat-icon>
    </a>

  </mat-form-field>

  <button mat-button [disabled]="form.invalid || submitted">Войти</button>
</form>

<div class="recover-password">
  <span>Забыли пароль? </span>
  <a href="#">Восстановить</a>
</div>
