mat-form-field {
  width: 100%;

  color: #323460;
}

button {
  padding: 12px;

  width: 100%;
}

button, .mat-button-wrapper, .mat-form-field-suffix {
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
}

.mat-button-disabled {
  background: rgba(92, 97, 201, 0.15) !important;
}

.recover-password {
  margin-top: 15px;
}

.recover-password span, .recover-password a {
  color: rgba(0, 0, 0, .5);

  font-size: 14px;
  font-weight: 400;
}

.recover-password a {
  color: #4248C5;

  cursor: pointer;

  text-decoration: none;
}
