<div class="wrapper">
  <div class="add-achievement__description">
    <div class="add-achievement__description-header">
      Создать достижение
    </div>
    <div class="close-dialog">
      <button (click)="closeDialog(false)" mat-mini-fab>
        <mat-icon>close</mat-icon>
      </button>
    </div>
  </div>
  <div class="add-achievement__controls">
    <form>
      <div class="control control_choose-name">
        <mat-form-field appearance="outline">
          <mat-label>Название пакета достижений</mat-label>
          <mat-select>
            <mat-option value="test">
              Тест
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="control control_name">
        <mat-form-field class="mat-form-field-margin" appearance="outline">
          <mat-label>Название достижения</mat-label>
          <input matInput autocomplete="off">
        </mat-form-field>
      </div>
      <div class="control control_action">
        <mat-form-field appearance="outline">
          <mat-label>Выберите действие</mat-label>
          <mat-select>
            <mat-option value="test">
              Действие
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="achievement__file-input">
        <div>
          <button mat-button id="get-file" class="round inverted option-control__file"
                  (click)="achievementFileInput.click();">
            <img src="./assets/img/add-white.svg" alt="file">
          </button>
          <input type="file"
                 autocomplete="off"
                 #achievementFileInput
                 (change)="handleFileInputEvent($event)">
        </div>
        <div>
          Выберите изображение
        </div>
      </div>
      <div class="achievement__file-thumbs" *ngIf="achievementFile">
        <div class="file-thumb"
             (click)="deleteFile()">
          <img src="./assets/img{{achievementFile.fileThumbs}}" alt="thumb">
          <div class="file-thumb__filename">{{achievementFile.fileList[0].name}}</div>
          <img class="file-thumb__close" src="./assets/img/cross-black.svg" alt="cross">
        </div>
      </div>
      <div class="achievement__range">
        <div>
          Указать количество повторений
        </div>
        <mat-slider
          thumbLabel
          min="0"
          max="50"></mat-slider>
      </div>
      <mat-form-field appearance="outline">
        <mat-label>Выбрать уровень</mat-label>
        <mat-select>
          <mat-option value="test">
            8
          </mat-option>
        </mat-select>
      </mat-form-field>

      <button mat-button id="submit" (click)="submit()">Сохранить</button>
    </form>
  </div>
</div>
