.wrapper {
  width: 100vw;
  height: 100vh;

  display: flex;
  align-items: flex-start;
  justify-content: flex-start;

  color: #ffffff;
}

.left-wrapper, .right-wrapper {
  width: 50%;
  height: 100%;
}

.left-wrapper {
  background: linear-gradient(184.17deg, #4248C5 -14.81%, #4046B8 0.6%, #3E43AC 26.94%, #3C419F 42.58%, #3A3E93 67.28%, #383C86 81.27%, #363979 100.2%, #34376D 114.2%, #323460 139.72%);
}

.right-wrapper {
  background-color: #ffffff;
}

.progress-bar {
  position: absolute;

  width: 100%;
}

.logo {
  top: 20px;
  left: 30px;

  position: absolute;
}

.welcome {
  margin: 16% 16% 12% 16%;
}

.welcome h1 {
  font-size: 48px;
  font-weight: 400;
}

.welcome span {
  font-size: 24px;
  font-weight: 200;

  line-height: 36px;
}

.tasks {
  margin: 0 16%;
}

.tasks ul {
  padding: 0;

  list-style-type: none;
}

.tasks ul li {
  margin-bottom: 35px;

  display: flex;
  align-items: center;
}

.tasks ul li:before {
  content: url("../../../../assets/img/circle-ok.svg");

  margin-right: 15px;

  display: block;
}
