<div class="wrapper">
  <div class="left-wrapper">
    <div class="logo">
      <img src="./assets/img/logo.svg" alt="logo">
    </div>
    <div class="welcome">
      <h1>Добро пожаловать</h1>
      <span>
        в онлайн центр обучения<br>
        компьютерной академии ШАГ
      </span>
    </div>
    <div class="tasks">
      <ul>
        <li>Проверка домашних работ</li>
        <li>Создание и прохождение тестов</li>
        <li>Поиск проектов и команды</li>
      </ul>
    </div>
  </div>
  <div class="right-wrapper">
    <div class="progress-bar">
      <mat-progress-bar mode="indeterminate" *ngIf="displayLoader"></mat-progress-bar>
    </div>
    <router-outlet></router-outlet>
  </div>
</div>
