<div class="main-content-wrapper">
    <div>
        <button mat-button [routerLink]="['/roadmap-module', 'starred']" class="round inverted">
            <img src="./assets/img/arrow.svg" alt="back">
        </button>
    </div>
    <div class="main-content">
        <div class="main-content__header-wrapper">
            <div class="main-content__header">
                <div class="roadmap-title">{{roadmap.title}}</div>
                <div class="roadmap-progress">{{progressPercentage}}%</div>
            </div>
        </div>
        <div class="steps">
            <div 
            *ngFor="let step of roadmap.steps; let i = index">
                <div class="step__position">{{i + 1}}</div>
                <mat-expansion-panel class="step mat-elevation-z0"
                    [ngClass]="{'step_completed': step.position < progress.currentStep.position, 
                                'step_current': step.position === progress.currentStep.position}">
                    <mat-expansion-panel-header class="step__header">
                        {{step.title}}
                    </mat-expansion-panel-header>
                    <div class="step__content">
                        {{step.description}}
                    </div>
                </mat-expansion-panel>
                <div class="step__complete-container"
                *ngIf="step.position === progress.currentStep.position">
                    <button mat-button class="step__complete round inverted">
                        <img src="./assets/img/check-mark.svg" alt="complete">
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div>
        <button mat-button class="round inverted">
            <img src="./assets/img/ellipsis.svg" alt="settings">
        </button>
    </div>
</div>