.main-content-wrapper {
    padding: 20px;

    width: 100%;

    display: grid;
    grid-template-columns: 40px 1fr 40px;
  
    background-color: #fff;
  
    border: 1px solid #E0E1EA;
    border-radius: 0 6px 6px 6px;
}

button[mat-button] {
    width: 34px;
    min-width: 34px;
    max-width: 34px;

    height: 34px;
    min-height: 34px;
    max-height: 34px;

    display: flex;
    align-items: center;
    justify-content: center;

    border: 1px solid #E0E1EA;
    border-radius: 50%;
}

.main-content-wrapper > div:last-of-type {
    display: flex;
    justify-content: flex-end;
}

.main-content__header-wrapper {
    padding: 0 75px 0 100px;
}

.main-content__header {
    margin-bottom: 40px;
    
    display: flex;
    justify-content: space-between;

    font-size: 24px;
}

.roadmap-title {
    font-weight: 400
}

.steps > div {
    margin-bottom: 30px;

    width: 100%;

    display: grid;
    grid-template-columns: 100px 1fr 75px;
    align-items: start;

    position: relative;
}

.step {
    margin-bottom: 0;

    border: 1px solid #E0E1EA;
    border-radius: 6px;

    box-shadow: 0;
}

.step__header {
    padding: 10px 15px;

    color: rgba(0, 0, 0, 0.5);

    border-radius: 6px 6px 0 0 !important;

    font-size: 20px;
    font-weight: 400
}

.step_current .step__header, .step_completed .step__header {
    color: #ffffff;
}

.step_current .step__header {
    background-color: #323460 !important;
}

.step_completed .step__header {
    background-color: #2AB930 !important;
}

.step_completed:hover .step__header {
    background-color: #2AB930 !important;
}

.mat-expanded {
    height: auto !important;
}

::ng-deep .step__header > .mat-expansion-indicator::after {
    padding: 0 !important;

    border-width: 5px 5px 0px 5px;
    border-color: rgba(0, 0, 0, 0.5) transparent transparent transparent;

    transform: rotate(0deg) !important;
}

::ng-deep .step_current .step__header > .mat-expansion-indicator::after,
::ng-deep .step_completed .step__header > .mat-expansion-indicator::after {
    border-color: #fff transparent transparent transparent;
}

.mat-expansion-panel-content > .mat-expansion-panel-body {
    padding: 0 !important;
}

.step__content {
    padding: 10px 15px;

    font-size: 16px !important;
    font-weight: 300 !important; 
    line-height: 22px !important;
}

.step__position {  
    color: #EEEFF3;

    padding-right: 15px;

    font-size: 48px;
    text-align: right;
    line-height: 48px;
}

.step__complete-container {
    padding-left: 10px;

    align-self: center;
    justify-self: start;

    display: flex;
    align-items: center;
    justify-content: center;
}