.wrapper {
  padding: 50px 60px 20px;

  height: 600px;

  overflow: auto;
}

.student-homework__header {
  display: flex;
  align-items: center;
}

.student-homework__header .student {
  margin-right: 20px;

  color: #000505;

  font-size: 36px;
  font-weight: 600;
}

.control {
  margin-right: 10px;
}

.controls {
  display: flex;
  align-items: center;
}

.control__elem {
  padding: 17px 10px;

  width: 34px;
  height: 34px;

  display: flex;
  align-items: center;
  justify-content: center;

  border: 1px solid #E0E1EA;
  border-radius: 50%;

  font-size: 15px;
}

.arrow-left {
  margin-left: 6px;
}

.arrow-right {
  margin-left: -6px;
  transform: scale(-1, 1);
}

.close-dialog {
  margin-left: auto;
}

.close-dialog button.mat-mini-fab {
  width: 34px;
  height: 34px;

  background: #323460;
}

.mat-icon {
  margin-top: -6px !important;
}

.student-homework__description {
  margin-top: 50px;
}

.student-homework__description__header {
  color: #000000;

  font-size: 20px;
  font-weight: 600;
}

.student-homework__description__data {
  color: rgba(0, 0, 0, 0.5);

  font-size: 16px;
  font-weight: 400;
}

.student-homework__description .actions-container {
  margin-top: 20px;

  display: flex;
  align-items: center;
}

.actions-container .action {
  margin-right: 30px;

  transition: .1s;
  -webkit-transition: .1s;
  -moz-transition: .1s;
  -o-transition: .1s;
}

.actions-container__header {
  margin-right: 10px;

  color: #323460;

  font-size: 16px;
  font-weight: 600;
}

:host ::ng-deep .mat-form-field-wrapper {
  margin: 0 !important;
  padding-bottom: 0 !important;
}

.retake-button, .highlight-button {
  min-width: 44px !important;
  width: 44px !important;
  height: 44px !important;

  background: #FFFFFF;

  border: 1px solid rgba(92, 97, 201, 0.15);
  border-radius: 6px;
}

.active-button {
  background: #4248C5;
}

.homeworks__description {
  margin-top: 45px;
}

.homeworks__description > .homework {
  display: flex;
}

.homework {
  margin-top: 20px;
}

.homework__container {
  margin-left: 10px;
}

.student__avatar {
  min-width: 32px;
  max-width: 32px;
  height: 32px;
}

.student__avatar img {
  width: 100%;
  height: 100%;

  border-radius: 50%;
}

.teacher-comment {
  width: 100%;

  color: #000505;

  font-size: 16px;
  font-weight: 300;
}

.student-comment {
  display: flex;
  justify-content: flex-end;

  text-align: right;
}

.teacher-comment__container {
  margin-top: 20px;

  display: flex;
  align-items: center;
}

.homework__file {
  margin-top: 10px;

  display: flex;
  align-items: center;
}

.homework__file > div:first-child {
  margin-right: 10px;

  width: 16px;
  height: 16px;
}

.homework__file > div img {
  width: 100%;
  height: 100%;
}

.homework__file > div:last-child {
  color: #000505;

  font-size: 16px;
  font-weight: 300;

  text-decoration: underline;
}

.homework-controls {
  margin-top: 30px;

  display: flex;
  align-items: center;
}

.homework-controls__answer {

  margin-right: 10px;
  padding: 6px 10px;

  width: 450px;
  height: 32px;

  border: 1px solid #E0E1EA;
  border-radius: 5px;

  font-size: 15px;
}

.homework__file-input {
  display: flex;
  align-items: center;
  justify-content: center;
}

.homework__file-input input {
  top: 0;
  left: 0;

  width: 0;
  height: 0;

  position: absolute;
}

.send-homework {
  margin-left: auto;
}

:host ::ng-deep .mat-select-arrow {
  margin: 12px -2px 0 0 !important;
}

:host ::ng-deep .mat-select-trigger {
  top: -5px;
}

:host ::ng-deep .mat-form-field-flex > .mat-form-field-infix {
  padding: 0.5em 0 !important;
}
