<div class="wrapper">
  <div class="student-homework__header">

    <div class="student">
      {{data.student.name}} {{data.student.lastName}}
    </div>

    <div class="close-dialog">
      <button (click)="closeDialog()" mat-mini-fab>
        <mat-icon>close</mat-icon>
      </button>
    </div>

  </div>

  <form [formGroup]="form" *ngIf="form">
    <div class="student-homework__description">

      <div class="student-homework__description__header">
        {{data.homework.topic}}
      </div>

      <div class="student-homework__description__data">
        {{data.homework.created | date: 'd.MM.yy'}}
      </div>

      <div class="actions-container">

        <div class="actions-container__header">
          Отметка
        </div>

        <div class="action action__mark">
          <mat-form-field appearance="outline" style="width: 60px" floatLabel="always">
            <mat-select formControlName="mark">
              <mat-option *ngFor="let mark of marks" [value]="mark">{{mark}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div class="actions-container__header">
          Пересдать
        </div>

        <button (click)="retake = !retake" [class.active-button]="retake" mat-button class="action retake-button">
          <img src="./assets/img/check-mark-white.svg" alt="check">
        </button>

      </div>

    </div>
    <div class="homeworks__description">
      <div class="homework">
        <div class="student__avatar">
          <img src="./assets/img/ava.png" alt="ava">
        </div>
        <div class="homework__container">
          <div class="teacher-comment">
            {{data.homework.description}}
          </div>
          <div class="homework__file">
            <div><img src="./assets/img/archive-thin.svg" alt="archive"></div>
            <!--            TODO replaced by fileUrl when backend is ready-->
            <div>test12.zip</div>
          </div>
        </div>
      </div>

      <div *ngIf="answers">
        <div class="homework" *ngFor="let answer of answers">
          <div class="student-comment">
            <div class="homework__container" style="margin-right: 10px">
              <div class="teacher-comment">
                {{answer.studentComment}}
              </div>
              <div class="homework__file student-comment">
                <div><img src="./assets/img/archive-thin.svg" alt="archive"></div>
                <div>{{answer.answerResourceUrl}}</div>
              </div>
            </div>
            <div class="student__avatar">
              <img src="https://news.gsu.edu/files/2019/10/monkey-800x600.jpg" alt="ava">
            </div>
          </div>
          <div *ngIf="answer.teacherComment">
            <div class="teacher-comment__container">
              <div class="student__avatar">
                <img src="./assets/img/ava.png" alt="ava">
              </div>
              <div class="homework__container">
                <div class="teacher-comment">
                  {{answer.teacherComment}}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="homework-controls">
        <input formControlName="teacherComment" class="main-controls__search homework-controls__answer"
               placeholder="Ответ">

        <div class="send-homework">
          <button mat-raised-button
                  [disabled]="submitted || form.invalid"
                  (click)="submit()"
                  color="primary">
            Отправить
          </button>
        </div>
      </div>
    </div>
  </form>
</div>
