<div class="main-wrapper">
  <div class="main-wrapper__menu">
    <div class="main-wrapper__menu__elem"
         [routerLinkActiveOptions]="{exact: true}"
         [routerLink]="['/group-module/my-group', groupId]"
         routerLinkActive="main-wrapper__menu__elem_active"
    >{{groupName}}
    </div>
    <div class="main-wrapper__menu__elem"
         [routerLinkActiveOptions]="{exact: true}"
         [routerLink]="['/group-module/my-group', groupId, 'homeworks', getUserRole()]"
         routerLinkActive="main-wrapper__menu__elem_active"
    >Домашние задания
    </div>
  </div>
  <router-outlet></router-outlet>
</div>
