<button class="student-registration-clickable" mat-button routerLink="/account/student">Студент</button>
<button class="teacher-registration-clickable" mat-button routerLink="/account/teacher">Преподаватель</button>
