<div class="confirm-wrapper">
  <div class="tabs-container">
    <div>
      <mat-tab-group animationDuration="0ms">
        <mat-tab label="Заявки">
          <app-confirm-student [groupId]="groupId"></app-confirm-student>
        </mat-tab>
        <mat-tab label="Добавление студента">
          <app-add-student></app-add-student>
        </mat-tab>
      </mat-tab-group>
    </div>
    <div class="close-dialog">
      <button (click)="closeDialog()" mat-mini-fab>
        <mat-icon>close</mat-icon>
      </button>
    </div>
  </div>
</div>
