.confirm-wrapper {
  margin: 26px 0 0 144px;
}

.tabs-container {
  width: 450px;

  display: flex;
  align-items: self-start;
}

.close-dialog button.mat-mini-fab {
  margin: 10px 0 0 70px;

  background: #323460;
}

::ng-deep .mat-tab-label .mat-tab-label-content {
  font-size: 24px;
  font-weight: 400;
}

::ng-deep .mat-tab-label.mat-tab-label-active .mat-tab-label-content {
  color: #323460;
}
