<div class="registration-wrapper">
  <div>
    <button mat-button class="round inverted"
            *ngIf="route.url.includes('student') || route.url.includes('teacher')"
            routerLink="/account/signup">
      <img src="./assets/img/arrow.svg" alt="back">
    </button>
  </div>
  <div class="registration-menu" *ngIf="route.url.includes('signin') || route.url.includes('signup')">
    <div class="signin-clickable" routerLink="signin" routerLinkActive="active">
      Вход
    </div>
    <div class="signup-clickable" routerLink="signup" routerLinkActive="active">
      Регистрация
    </div>
  </div>
  <div class="sign-up-menu" *ngIf="route.url.includes('student')">
    <div class="student-registration-clickable">Регистрация студента</div>
  </div>
  <div class="sign-up-menu" *ngIf="route.url.includes('teacher')">
    <div class="teacher-registration-clickable">Регистрация преподавателя</div>
  </div>
  <router-outlet></router-outlet>
</div>
