.registration-wrapper {
  margin: 9% 19% 13% 9%;

  display: grid;
  grid-template-columns: 34px 1fr;
  column-gap: 30px;
  grid-template-rows: 34px 1fr;
  row-gap: 46px;
}

.registration-menu, .sign-up-menu {
  width: 100%;

  display: flex;

  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}

.registration-menu > div, .sign-up-menu > div {
  padding-bottom: 10px;

  font-size: 24px;

  text-align: center;

  cursor: pointer;
}

.registration-menu > div {
  width: 50%;

  color: rgba(0, 0, 0, 0.5);

  font-weight: 200;
}

.sign-up-menu {
  border-bottom: 0;
}

.sign-up-menu > div {
  width: 100%;

  color: #323460;

  border-bottom: 2px solid #323460;

  font-weight: 400;

  cursor: text;
}

.registration-menu > div.active {
  margin-bottom: -1px;

  color: #323460;

  border-bottom: 2px solid #323460;

  font-weight: 400;
}
