.main-content-wrapper {
  padding: 20px;

  width: 100%;

  background-color: #ffffff;

  border: 1px solid #E0E1EA;
  border-radius: 0 4px 4px 4px;
}

.main-controls {
  margin-bottom: 10px;

  display: flex;
  justify-content: space-between;
}

.main-controls__buttons-container {
  width: 175px;
}

.main-controls__button {
  width: 100%;
}

.main-controls__buttons-container div:first-child {
  margin-bottom: 10px;
}

.mat-form-field-appearance-outline ::ng-deep .mat-form-field-wrapper {
  padding-bottom: 15px;
}

.main-content {
  padding: 25px;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;

  border: 1px solid #E0E1EA;
  border-radius: 6px;
}

.main-content__achievement-container {
  display: flex;
  align-items: center;
}

.achievement__picture-container {
  margin-right: 10px;

  min-width: 70px;
  height: 70px;

  text-align: center;

  background: linear-gradient(0deg, #F365FF 0%, #FFECFD 100%);
  border-radius: 6px;
}

.grayscale {
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  filter: url('src/assets/img/grayscale.svg#grayscale');
  filter: gray;
  -webkit-filter: grayscale(1);
}

.achievement__image {
  margin: 10px auto 0;

  width: 30px;
  height: 40px;
}

.achievement__image img {
  width: 100%;
  height: 100%;

}


.achievement__level {
  color: #FFFFFF;

  font-size: 7px;
  font-weight: 600;
  line-height: 10px;
}

.achievement__description-container {
  width: 100%;

  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
}

.achievement__header {
  color: #000000;

  font-size: 14px;
  font-weight: 600;
}

.achievement__task-name {
  color: #000000;

  font-size: 12px;
  font-weight: 400;
}

.achievement__progress-container {
  display: flex;
  align-items: center;
}

.achievement__progress-container > div:first-child {
  margin-right: 10px;

  width: 100%;
  height: 10px;

  background: #CECECC;
  border-radius: 5px;
}

.achievement__progress-container > div:last-child {
  color: #7D7A7A;

  font-size: 10px;
  font-weight: 600;
}


.progress {
  width: 50%;
  height: 100%;

  background: linear-gradient(0deg, #F0C419 0%, #E0D6AD 100%);

  border-radius: 5px;
}
