<div class="main-content-wrapper">
  <div class="main-controls">
    <div class="main-controls__select-container">
      <div>
        <mat-form-field appearance="outline" style="width: 500px">
          <mat-label>Выбрать пакет достижений</mat-label>
          <mat-select [(ngModel)]="selectedAction">
            <mat-option *ngFor="let action of actionsList" [value]="action">
              {{action}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div>3 из 3 TODO</div>
    </div>
    <div class="main-controls__buttons-container">
      <div>
        <button class="main-controls__button"
                mat-button
                (click)="openCreateAchievementPacksDialog()">
          Создать пакет
        </button>
      </div>
      <div>
        <button class="main-controls__button"
                mat-button
                disabled>
          Редактировать
        </button>
      </div>
    </div>
  </div>
  <div class="main-content">
    <div class="main-content__achievement-container"
         *ngFor="let group of groupAchievements">
      <div class="achievement__picture-container">
        <div class="achievement__image">
<!--          TODO URL-->
          <img src="./assets/img/achievTEST.svg" alt="">
        </div>
        <div class="achievement__level">
<!--          {{group.achievements.}}-->
        </div>
      </div>
      <div class="achievement__description-container">
        <div class="achievement__header">
          Эрудит
        </div>
        <div class="achievement__task-name">
          Пройдите 1 тест
        </div>
      </div>
    </div>
  </div>
</div>
