.main-content-wrapper {
  padding: 20px;

  width: 100%;

  background-color: #fff;

  border: 1px solid #E0E1EA;
  border-radius: 0 4px 4px 4px;
}

.main-controls {
  display: flex;
  align-items: center;
}

.main-controls__elem {
  margin: 0 20px 0 0;
  padding: 6px 10px;

  display: flex;
  align-items: center;

  border: 1px solid #E0E1EA;
  border-radius: 6px;

  font-size: 15px;
}

.main-controls__elem_foldable::after {
  content: "";

  margin-top: 4px;
  margin-left: 7px;

  width: 0;
  height: 0;

  display: inline-block;

  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 4px solid #4248C5;
}

.main-controls__search {
  width: 300px;
}

.main-controls__category, .main-controls__type {
  margin-right: 10px;
}

.main-controls__clear {
  width: 26px;
  height: 26px;

  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 50%;
}

.main-controls__create-question {
  margin-left: auto;
  margin-right: 0;
}

.main-controls-button {
  padding: 7px 20px;

  background: #323460;
  color: #ffffff;

  border: 0;

  font-size: 14px;
}

.main-content {
  margin: 30px 0 0 0;
}

.main-content__stats {
  display: flex;
  justify-content: space-between;
}

.main-content__stats__elem-foldable::after {
  content: "";

  margin-bottom: 2px;
  margin-left: 7px;

  width: 0;
  height: 0;

  display: inline-block;

  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 4px solid #4248C5;
}

.main-elements {
  margin-top: 20px;

  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px 20px;
}

.main-element {
  padding: 10px 15px;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;

  border: 1px solid #E0E1EA;
  border-radius: 6px;

  transition: .1s;
  -webkit-transition: .1s;
  -moz-transition: .1s;
  -o-transition: .1s;
  -ms-transition: .1s;
}

.main-element:hover {
  cursor: pointer;

  box-shadow: 0 1px 1px rgba(50, 52, 96, 0.2), 0 1px 3px rgba(50, 52, 96, 0.15), 0 4px 8px rgba(50, 52, 96, 0.1);
}

.main-element > div {
  width: 100%;
}

.main-element__top-wrapper {
  display: flex;
  justify-content: space-between;
}

.main-element__settings {
  width: 10px;

  margin: 4px 0 0 0;

  display: flex;
  justify-content: space-between;
}

.main-element__settings div {
  width: 2px;
  height: 2px;

  background: rgba(0, 0, 0, 0.5);

  border-radius: 50%;

  transform: rotate(-90deg);
}

.main-element__topic {
  width: 80%;

  font-size: 16px;
  font-weight: 400
}

.main-element__bottom-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin: 8px 0 0 0;

  font-size: 12px;
  font-weight: 350;
  color: rgba(0, 0, 0, .5);

}

