<div class="main-content-wrapper">
  <div class="main-controls">
    <input class="main-controls__elem main-controls__search" placeholder="Поиск">
    <div class="main-controls__elem main-controls__category main-controls__elem_foldable">Категория</div>
    <div class="main-controls__elem main-controls__type main-controls__elem_foldable">Тип</div>
    <div class="main-controls__elem main-controls__difficulty main-controls__elem_foldable">Сложность</div>
    <div class="main-controls__elem main-controls__clear">
      <img src="./assets/img/cross.svg" alt="clear">
    </div>
    <div class="main-controls__create-question">
      <button mat-raised-button color="primary" (click)="openCreateQuestionDialog()">
        Создать вопрос
      </button>
    </div>
  </div>
  <div class="main-content">
    <div class="main-content__stats">
      <div>{{questions.length}} {{properQuestionsLength}}</div>
      <div class="main-content__stats__elem-foldable">Сортировать по: категория</div>
    </div>
    <div class="main-elements">
      <div class="main-element" *ngFor="let question of questions">
        <div class="main-element__top-wrapper">
          <div class="main-element__topic">{{question.text}}</div>
          <div class="main-element__settings">
            <div></div>
            <div></div>
            <div></div>
          </div>
        </div>
        <div class="main-element__bottom-wrapper">
          <div class="main-element__difficulty">
            <div>{{questionLanguages[question.language]}}/{{questionLevels[question.level]}}</div>
          </div>
          <div class="main-element__type-question">
            <div>{{questionTypes[question.type]}}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
