<div class="main-content-wrapper">
  <div style="color: red; font-size: 30px; margin: 20px; text-align: center;">STUB STUB STUB STUB STUB STUB STUB</div>
  <div class="main-controls">
    <input class="main-controls__elem main-controls__search" placeholder="Поиск">
    <div class="main-controls__elem main-controls__category main-controls__elem_foldable">Категория</div>
    <div class="main-controls__elem main-controls__state main-controls__elem_foldable">Состояние</div>
    <div class="main-controls__elem main-controls__clear">
      <img src="./assets/img/cross.svg" alt="clear">
    </div>
    <div class="main-controls__elem main-controls__create-road-map main-content-button">Создать Road map</div>
  </div>
  <div class="main-content">
    <div class="main-content__stats">
      <div>4 из 4</div>
      <div class="main-content__stats__elem-foldable">Сортировать по: статус</div>
    </div>
    <div class="main-elements">
      <div class="main-element"
            *ngFor="let road of roads" [routerLink]="['/roadmap-module', 'roadmap', road.id]">
          <div class="main-element__top-wrapper">
            <div class="main-element__top">
              <div class="main-element__title">{{road.title}}</div>
              <div class="main-element__progress"><div style="color: red">progress ??</div></div>
              <div class="main-element__settings">
                <div></div>
                <div></div>
                <div></div>
              </div>
            </div>
            <div class="main-element__progress-bar" style="width: 33%;"></div>
          </div>
          <div class="main-element__bottom-wrapper">
            <div class="main-element__topic">
              <div class="main-element__current-step">Текущий шаг</div>
                {{road.description}}
              </div>
            </div>
          </div>
      </div>
  </div>
</div>
