.close-dialog {
  padding: 10px 10px 0 0;

  text-align: right;
}

.close-dialog button.mat-mini-fab {
  width: 34px;
  height: 34px;

  background: #323460;
}

.mat-icon {
  margin-top: -7px !important;
  margin-left: 1px !important;

  color: #FFFFFF !important;
}

.achievement {
  text-align: center;

  color: white;
}

h2, h4 {
  margin: 0 0 5px 0;
  font-weight: 400;
}

.achievement__description h2 {
  font-size: 22px;
}

.achievement__description h4 {
  font-size: 18px;
}

.achievement-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.achievement__picture-container {
  margin-right: 10px;

  min-width: 100px;
  height: 100px;

  text-align: center;

  background: linear-gradient(0deg, #4E0073 0%, #F19CFF 100%);
  border-radius: 6px;
}

.achievement__image {
  margin: 10px auto 0;

  width: 60px;
  height: 70px;
}

.achievement__image img {
  width: 100%;
  height: 100%;
}

.achievement__name, .achievement__level {
  color: #FFFFFF;

  font-size: 10px;
  font-weight: 400;
  line-height: 10px;
}

.achievement__level {
  margin-top: 15px;

  font-size: 12px;
}
