<div class="close-dialog">
  <button (click)="closeDialog()" mat-mini-fab>
    <mat-icon>close</mat-icon>
  </button>
</div>

<div class="achievement" *ngIf="notifications.length">
  <div class="achievement__description">
    <h2>Новое достижение!</h2>
    <h4>{{notifications[0].achievementPreviewDto.typeOfAchievement}}</h4>
  </div>
  <div class="achievement-container">
    <div class="achievement__picture-container">
      <div class="achievement__image">
        <img src="./assets/img/achievTEST.svg" alt="">
      </div>
      <div class="achievement__name">
        {{notifications[0].achievementPreviewDto.typeOfAchievement}}
      </div>
    </div>
  </div>
  <div class="achievement__level">
    Вы прошли {{notifications[0].achievementPreviewDto.level}} уровней!
  </div>
</div>
