<div class="main-content-wrapper">
  <div class="main-controls">
    <div class="main-controls__select-container">
      <div>
        <mat-form-field appearance="outline" style="width: 500px">
          <mat-label>Выбрать пакет достижений</mat-label>
          <mat-select>
            <mat-option>
              Тест
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div>3 из 3 TODO</div>
    </div>
    <div class="main-controls__buttons-container">
      <div>
        <button class="main-controls__button"
                (click)="openCreateAchievementDialog()"
                mat-button
                disabled>
          Создать достижение
        </button>
      </div>
      <div>
        <button class="main-controls__button"
                mat-button
                disabled>
          Редактировать
        </button>
      </div>
    </div>
  </div>
  <div class="main-content">
    <div class="main-content__achievement-container" *ngFor="let achievement of achievementViews">
      <div class="achievement__picture-container" [ngClass]="{'grayscale': !achievement.isCompleted}">
        <div class="achievement__image">
          <img src="./assets/img/achievTEST.svg" alt="">
        </div>
        <div class="achievement__level">
          Уровень {{achievement.level}}
        </div>
      </div>
      <div class="achievement__description-container">
        <div class="achievement__header">
          {{achievement.typeOfAchievement}}
        </div>
        <div class="achievement__task-name">
          {{achievement.action}}
        </div>
        <div class="achievement__progress-container" *ngIf="!achievement.isCompleted">
          <div>
            <div class="progress"
                 [ngStyle]="{width: prepareWidth(achievement.counterAction, achievement.threshold)}">
            </div>
          </div>
          <div>{{achievement.counterAction}}/{{achievement.threshold}}</div>
        </div>
      </div>
    </div>
  </div>
</div>
