<div class="main-wrapper">
  <div class="main-wrapper__menu">
    <div class="main-wrapper__menu__elem"
         [routerLink]="['/roadmap-module', 'starred']"
         routerLinkActive="main-wrapper__menu__elem_active"
    >Избранные
    </div>
    <div class="main-wrapper__menu__elem"
         [routerLink]="['/roadmap-module', 'roadmaps']"
         routerLinkActive="main-wrapper__menu__elem_active"
    >Мои Road map
    </div>
  </div>
  <router-outlet></router-outlet>
</div>
