@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap');

.progress-bar {
  position: absolute;

  width: 100%;
}

.upper-menu {
  position: relative;
  padding: 10px;

  width: 100%;
  height: 44px;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  align-content: center;

  background-color: #fff;
}

.upper-menu > div {
  display: flex;
  align-items: center;
  justify-content: center;
}

.upper-menu > div:first-child {
  justify-content: flex-start;
}

.upper-menu > div:last-child {
  justify-content: flex-end;
}

.upper-menu__hamburger {
  position: relative;
  margin-right: 10px;
  padding: 5px 9px;

  width: 32px;
  height: 24px;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: #E0E1EA;

  border-radius: 2px;
}

.upper-menu__hamburger div {
  width: 14px;
  height: 2px;

  background-color: #000505;

  border-radius: 2px;
}

.upper-menu__tab:hover {
  cursor: pointer;
}

.upper-menu__tab:first-of-type {
  margin-right: 32px;
}

.upper-menu__achievement-notification > div {
  margin-right: 15px;

  width: 24px;
  height: 24px;

  cursor: pointer;
}
.upper-menu__achievement-notification > div img {
  width: 100%;
  height: 100%;
}

::ng-deep .achievement__menu {
  background: linear-gradient(184.17deg, #4248C5 -14.81%, #4046B8 0.6%, #3E43AC 26.94%, #3C419F 42.58%, #3A3E93 67.28%, #383C86 81.27%, #363979 100.2%, #34376D 114.2%, #323460 139.72%) !important;

}
.achievement__menu-item {
  margin: 0 5px 10px;

  display: flex;
  align-items: center;
}

.achievement__menu-item_image-container {
  margin-right: 5px;

  width: 32px;
  height: 32px;

  display: flex;
  align-items: center;
  justify-items: center;

  background: linear-gradient(0deg, #4E0073 0%, #F19CFF 100%);

  border-radius: 50%;
}

.achievement__menu-item_image-container img {
  width: 100%;
  height: 100%;
}

.achievement__menu-item_description-container > div:first-child {
  color: #FFFFFF;

  font-weight: 300;
  font-size: 10px;
}

.achievement__menu-item_description-container > div:last-child {
  color: #FFFFFF;

  font-weight: 600;
  font-size: 10px;
}

.achievement__menu-show-all {
  margin: 10px 0 0;

  color: #FFFFFF;

  font-weight: 300;
  font-size: 10px;

  text-align: center;
}

.upper-menu__notifications {
  margin-right: 10px;
  padding: 1px 7px;

  width: 37px;
  height: 22px;

  display: flex;
  align-items: center;
  justify-content: center;

  color: #fff;
  background-color: #323460;

  border-radius: 6px;

  font-size: 15px;
  font-weight: 400;
}

.upper-menu__profile {
  position: relative;
  margin-right: 32px;

  width: 32px;
  height: 32px;
}

.upper-menu__profile div {
  width: 100%;
  height: 100%;

  border-radius: 50%;
  overflow: hidden;
}

.upper-menu__profile img {
  width: 100%;
  height: 100%;
}

.upper-menu__profile:hover {
  cursor: pointer;
}

.upper-menu__profile::after {
  content: "";

  position: absolute;
  top: 13px;
  right: -16px;

  width: 0;
  height: 0;

  display: block;

  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 6px solid #4248C5;
}

.wrapper {
  display: flex;
  align-items: flex-start;
}

.side-menu {
  margin: 20px 0 0 10px;

  min-width: 15%;
  max-width: 17%;

  border: 1px solid #E0E1EA;
  border-radius: 6px;

  overflow: hidden;
}

.side-menu__elem {
  padding: 7px 10px;

  width: 100%;

  color: #000505;
  background-color: #fff;
}

.side-menu__elem-group {
  padding-left: 35px;
}

.side-menu__elem:hover {
  cursor: pointer;
}

.side-menu__elem_active {
  padding-left: 7px;

  color: #fff;
  background-color: #323460;
}

.side-menu__elem_active-group {
  padding-left: 35px;
}

.side-menu__elem_active img {
  filter: invert(100%);
}

.side-menu__elem img {
  margin-right: 5px;

  width: 15px;
  height: 15px;
}

.mat-expansion-panel {
  border-radius: 0;

  background: #ffffff;
}

.mat-expansion-panel-header {
  padding: 0 15px 0 0;

  background-color: #ffffff !important;
}

::ng-deep div.mat-expansion-panel-body {
  padding: 0 !important;
}

.main-content__wrapper {
  min-width: 82%;
  max-width: 82%;
}
