<div class="upper-menu">
  <div>
    <div class="upper-menu__hamburger">
      <img src="./assets/img/hamburger.svg" alt="menu">
    </div>
    <div class="upper-menu__title">Тесты</div>
  </div>

  <div>
    <div class="upper-menu__tab" [routerLink]="['/test-module']">Тесты</div>
    <div class="upper-menu__tab" [routerLink]="['/roadmap-module']">Road map</div>
  </div>

  <div>
    <div class="upper-menu__achievement-notification"
         matRipple
         [matMenuTriggerFor]="achievementMenu"
         [matRippleRadius]=15
         (click)="getAchievements()"
         *ngIf="userAchievements">
      <div>
        <img src="./assets/img/cup.svg" alt="cup">
      </div>
      <mat-menu class="achievement__menu" #achievementMenu="matMenu" xPosition="before">
        <ng-template matMenuContent>
          <div class="achievement__menu-item"
               *ngFor="let achievement of userAchievements">
            <div class="achievement__menu-item_image-container">
              <img src="./assets/img/achievTEST.svg" alt="cup">
            </div>
            <div class="achievement__menu-item_description-container">
              <div>Вы получили достижение!</div>
              <div>{{achievement.typeOfAchievement}}</div>
            </div>
          </div>
        </ng-template>
      </mat-menu>
    </div>
    <div class="upper-menu__notifications">1</div>
    <div class="upper-menu__profile" [matMenuTriggerFor]="menu">
      <div>
        <img src="./assets/img/ava.png" alt="ava">
      </div>
      <mat-menu #menu="matMenu">
        <button id="logout" (click)="logout()" mat-menu-item>
          <span>Выйти</span>
        </button>
      </mat-menu>
    </div>
  </div>
</div>
<div class="progress-bar">
  <mat-progress-bar mode="indeterminate" *ngIf="displayLoader"></mat-progress-bar>
</div>

<div class="wrapper">
  <div class="side-menu">
    <mat-expansion-panel [expanded]="true" class="mat-elevation-z0">
      <mat-expansion-panel-header>
        <div class="side-menu__elem">
          <img src="./assets/img/hat.svg" alt="">
          Мои курсы
        </div>
      </mat-expansion-panel-header>
      <div>
        <div class="side-menu__elem side-menu__elem-group"
             routerLinkActive="side-menu__elem_active side-menu__elem_active-group"
             [routerLink]="['/group-module/my-group', group.id.toString()]"
             *ngFor="let group of groups">
          {{group.subjectOfStudy + '/' + group.name}}
        </div>
      </div>
    </mat-expansion-panel>
    <div class="side-menu__elem" [routerLink]="['/test-module']" routerLinkActive="side-menu__elem_active">
      <img src="./assets/img/tests.svg" alt="">
      Тесты
    </div>
    <div class="side-menu__elem" [routerLink]="['/roadmap-module']" routerLinkActive="side-menu__elem_active"><img
      src="./assets/img/roadmap.svg" alt=""> Road map
    </div>
    <mat-expansion-panel class="mat-elevation-z0">
      <mat-expansion-panel-header>
        <div class="side-menu__elem">
          <img src="./assets/img/achievement1.svg" alt="">
          Достижения
        </div>
      </mat-expansion-panel-header>
      <div>
        <div class="side-menu__elem side-menu__elem-group"
             routerLinkActive="side-menu__elem_active side-menu__elem_active-group"
             [routerLink]="['/achievement-module']"
        >
          Мои достижения

        </div>
      </div>
    </mat-expansion-panel>
  </div>
  <div class="main-content__wrapper">
    <router-outlet></router-outlet>
  </div>
</div>
