.wrapper {
  padding: 50px 60px 20px 135px;

  overflow: auto;
}

.add-achievement__description {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.add-achievement__description-header {
  color: #000505;

  font-size: 36px;
  font-weight: 600;
}

.close-dialog {
  margin-left: auto;
}

.close-dialog button.mat-mini-fab {
  width: 34px;
  height: 34px;

  border: 2px solid #323460;

  background: #FFFFFF;
}

.mat-icon {
  margin-top: -10px !important;

  color: #323460 !important;
}

.mat-form-field {
  width: 100%;
}

.add-achievement__controls {
  margin-top: 50px;

  width: 520px;
}

.achievement-pack__container {
  margin-bottom: 25px;
}

.achievement-pack__container .pack-name {
  margin-top: 25px;
}

.achievement__file-input {
  display: flex;
  align-items: center;
}

.achievement__file-input-container {
  display: flex;
  align-items: center;
}

button[mat-button].inverted {
  background-color: #323460;
}

button[mat-button].round {
  border: none;
  border-radius: 6px;
}

.achievement__file-input > div:first-child {
  margin-right: 10px;
}

.achievement__file-thumbs {
  margin-top: 25px;

  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.achievement__file-input input {
  top: 0;
  left: 0;

  width: 0;
  height: 0;

  position: absolute;
}

.repeat-action {
  width: 250px;
}

.add-child-achievement {
  margin-top: 25px;
  margin-right: 15px;
}

.file-thumb {
  margin: 0 10px 10px 0;

  display: flex;
  align-items: center;

  border: 1px solid #E0E1EA;
  border-radius: 6px;

  cursor: pointer;

  transition: .2s;
  transition: .2s;
  -webkit-transition: .2s;
  -moz-transition: .2s;
  -o-transition: .2s;
  -ms-transition: .2s;
}

.file-thumb img {
  height: 30px;
}

.file-thumb__filename {
  margin: 0 10px;
}

.file-thumb__close {
  margin-right: 10px;

  height: 20px !important;

  transition: .2s;
  -webkit-transition: .2s;
  -moz-transition: .2s;
  -o-transition: .2s;
  -ms-transition: .2s;
}

.file-thumb:hover {
  color: #d41500;
}

.file-thumb:hover .file-thumb__close {
  filter: invert(12%) sepia(97%) saturate(6214%) hue-rotate(19deg) brightness(93%) contrast(106%);
}

:host ::ng-deep .mat-form-field-appearance-outline .mat-form-field-wrapper {
  margin: 0 !important;
}
