<div class="wrapper">
  <div class="add-achievement__description">
    <div class="add-achievement__description-header">
      Создать достижение
    </div>
    <div class="close-dialog">
      <button (click)="closeDialog(false)" mat-mini-fab>
        <mat-icon>close</mat-icon>
      </button>
    </div>
  </div>
  <div class="add-achievement__controls">
    <form [formGroup]="mainForm">
      <div class="achievement-pack__container">
        <div [formGroup]="$any(mainForm.controls.groupControl)">
          <div class="pack-name">
            <mat-form-field class="mat-form-field-margin" appearance="outline">
              <mat-label>Название группы</mat-label>
              <input matInput autocomplete="off" formControlName="name">
            </mat-form-field>
          </div>
          <div class="count-color">
              <input [style.background]="backgroundColor"
                     [(colorPicker)]="backgroundColor"
                     [cpOutputFormat]="'hex'"
                     [value]="backgroundColor"
                     autocomplete="off" formControlName="backgroundColor">
          </div>
        </div>
        <div [formGroup]="$any(mainForm.controls.mainAchievementControl)">
          <div class="pack-name">
            <mat-form-field class="mat-form-field-margin" appearance="outline">
              <mat-label>Название главного достижения</mat-label>
              <input matInput autocomplete="off" formControlName="name">
            </mat-form-field>
          </div>
          <div class="achievement__file-input">
            <div>
              <button mat-button class="round inverted option-control__file"
                      (click)="achievementFileInput.click();">
                <img src="./assets/img/add-white.svg" alt="file">
              </button>
              <input type="file"
                     autocomplete="off"
                     #achievementFileInput
                     (change)="handleFileInputEvent($event)">
            </div>
            <div>
              Выберите изображение
            </div>
          </div>
          <div class="achievement__file-thumbs" *ngIf="achievementPackNameFile">
            <div class="file-thumb"
                 (click)="deleteFile()">
              <img src="./assets/img{{achievementPackNameFile.fileThumbs}}" alt="thumb">
              <div class="file-thumb__filename">{{achievementPackNameFile.fileList[0].name}}</div>
              <img class="file-thumb__close" src="./assets/img/cross-black.svg" alt="cross">
            </div>
          </div>
        </div>
        <ng-container formArrayName="childAchievementControl">
          <ng-container *ngFor="let achievementLevelForm of $any(childAchievementControl.controls); let i = index">
            <div class="level-achievement__container" [formGroup]="$any(achievementLevelForm)">
              <div class="pack-name">
                <mat-form-field class="mat-form-field-margin" appearance="outline">
                  <mat-label>Название достижения</mat-label>
                  <input matInput autocomplete="off" formControlName="name">
                </mat-form-field>
              </div>
              <div class="count-color">
                <mat-form-field appearance="outline">
                  <mat-label>Уровень {{i + 1}}. Выбрать действие</mat-label>
                  <mat-select formControlName="action">
                    <mat-option *ngFor="let action of actionsList" [value]="action">
                      {{action}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div>
                <mat-form-field class="repeat-action" appearance="outline">
                  <mat-label>Повторение действия</mat-label>
                  <input matInput autocomplete="off" formControlName="repeats">
                </mat-form-field>
              </div>
              <div class="achievement__file-input">
                <div>
                  <button mat-button class="round inverted option-control__file"
                          (click)="achievementFileInput.click();">
                    <img src="./assets/img/add-white.svg" alt="file">
                  </button>
                  <input type="file"
                         autocomplete="off"
                         #achievementFileInput
                         (change)="handleFileInputEvent($event)">
                </div>
                <div>
                  Выбрать изображние
                </div>
              </div>
              <div class="achievement__file-thumbs" *ngIf="achievementPackNameFile">
                <div class="file-thumb"
                     (click)="deleteFile()">
                  <img src="./assets/img{{achievementPackNameFile.fileThumbs}}" alt="thumb">
                  <div class="file-thumb__filename">{{achievementPackNameFile.fileList[0].name}}</div>
                  <img class="file-thumb__close" src="./assets/img/cross-black.svg" alt="cross">
                </div>
              </div>
            </div>
            <button class="add-child-achievement" mat-button (click)="deleteAchievement(i)">
              Удалить
            </button>
          </ng-container>
        </ng-container>
        <button class="add-child-achievement" mat-button (click)="addAchievement()">
          Добавить достижение
        </button>
      </div>
      <button mat-button (click)="submit()" [disabled]="mainForm.invalid  || submitted">Сохранить</button>
    </form>
  </div>
</div>
