.background {
  position: fixed;

  width: 100%;
  height: 100%;

  background: linear-gradient(184.17deg, #4248C5 -14.81%, #4046B8 0.6%, #3E43AC 26.94%, #3C419F 42.58%, #3A3E93 67.28%, #383C86 81.27%, #363979 100.2%, #34376D 114.2%, #323460 139.72%);

  z-index: -1;
}
