<div class="wrapper">
  <div class="add-homework__container">
    <div class="add-homework__description">
      <div class="header">
        Добавить домашнее задание
      </div>
      <div class="close-dialog">
        <button (click)="closeDialog(false)" mat-mini-fab>
          <mat-icon>close</mat-icon>
        </button>
      </div>
    </div>
    <form [formGroup]="form" *ngIf="form">
      <div class="homework__controls">

        <div class="homework__controls-date">

          <mat-form-field class="date-picker" floatLabel="always" appearance="outline">
            <mat-label>Дата занятия</mat-label>
            <input matInput [matDatepicker]="lessonDate" formControlName="lessonDate">
            <mat-datepicker #lessonDate></mat-datepicker>
          </mat-form-field>

          <div class="date__button" (click)="lessonDate.open()">
            <img src="./assets/img/data-picker.svg" alt="picker">
          </div>

        </div>

        <mat-form-field class="mat-form-field-margin" appearance="outline">
          <mat-label>Тема</mat-label>
          <input type="text" autocomplete="off" matInput formControlName="topic">
        </mat-form-field>

        <div class="task-container">

          <div class="homework__file-input">
            <button mat-button class="round inverted option-control__file" (click)="questionFileInput.click();">
              <img src="./assets/img/clip.svg" alt="file">
            </button>
            <input type="file"
                   autocomplete="off"
                   formControlName="file"
                   #questionFileInput
                   multiple
                   (change)="handleFileInputEvent($event)">
          </div>

          <div class="task-container__description">
            <mat-form-field class="mat-form-field-margin" appearance="outline">
              <mat-label>Задание</mat-label>
              <input type="text" autocomplete="off" matInput formControlName="description">
            </mat-form-field>
          </div>

          <div class="attached-file" *ngIf="file">
            <div class="attached-file__image">
              <img src="./assets/img/clip.svg" alt="clip">
            </div>
            <div class="attached-file__name">
              {{file.fileList[0].name}}
            </div>
          </div>

          <div class="homework__controls-date hand-over__date">

            <mat-form-field class="date-picker" floatLabel="always" appearance="outline">
              <mat-label>Дата сдачи</mat-label>
              <input matInput [matDatepicker]="handOverDate" formControlName="deadLineDate">
              <mat-datepicker #handOverDate></mat-datepicker>
            </mat-form-field>

            <div class="date__button" (click)="handOverDate.open()">
              <img src="./assets/img/data-picker.svg" alt="picker">
            </div>
          </div>

        </div>

        <button mat-button (click)="submit()" [disabled]="form.invalid || submitted">Добавить</button>
      </div>

    </form>
  </div>
</div>
