.wrapper {
  padding: 50px 0 100px 135px;
}

.add-homework__container {
}

.add-homework__description {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
}

.header {
  margin-right: 25px;

  color: #000505;

  font-size: 36px;
  font-weight: 400;
}

.close-dialog button.mat-mini-fab {
  width: 34px;
  height: 34px;

  background: #323460;
}

.mat-icon {
  margin-top: -6px !important;
}

.homework__controls {
  width: 500px;
}

.homework__controls-date {
  margin-bottom: 15px;

  display: flex;
  align-items: center;
}

.date-picker {
  margin-right: 10px;

  width: 110px;
}

.time-picker {
  margin-right: 10px;

  width: 80px;
}

.date__button {
  cursor: pointer;
}

.task-container {
  position: relative;
}

.task-container__description {
  margin-bottom: -10px;
}

.homework__file-input {
  top: 5px;
  right: -43px;

  position: absolute;

  display: flex;
  align-items: center;
}

.homework__file-input input {
  top: 0;
  left: 0;

  width: 0;
  height: 0;

  position: absolute;
}

.attached-file {
  margin-bottom: 20px;
  padding: 8px 10px;

  width: 150px;

  display: flex;
  align-items: center;
  justify-items: center;

  border: 1px solid #E0E1EA;
  border-radius: 6px;

  background: rgba(92, 97, 201, 0.15);
}

.attached-file__image {
  margin-right: 10px;

  width: 15px;
  height: 15px;
}

.attached-file img {
  width: 100%;
  height: 100%;
}

.attached-file__name {
  color: #000000;

  font-size: 14px;
  font-weight: 400;
}

.hand-over__date {
  margin-top: 20px;
}

:host ::ng-deep .mat-form-field-wrapper{
  padding-bottom: 0 !important;
}

mat-form-field {
  width: 100%;
}

.mat-form-field-margin {
  margin-bottom: 15px;
}
