@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap');

:host {
  height: 100vh;

  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 155px calc(100% - 310px) 155px;
}

.test-wrapper {
  padding: 60px 0 50px;

  min-width: 970px;
}

.test-wrapper > div {
  width: 100%;
}

.topic {
  color: #E0E1EA;

  text-align: center;
  font-size: 24px;
  font-weight: 200;
}

.question {
  margin: 10px 0;
  padding: 10px;

  color: #ffffff;

  font-size: 36px;
  font-weight: 400;
}

.codeblock {
  margin-top: 20px;
  padding: 20px;

  color: #000505;
  background-color: #E0E1EA;

  border-radius: 4px;

  font-size: .5em;
  font-family: 'JetBrains Mono' !important;
}

.codeblock * {
  font-family: inherit !important;
}

.options {
  display: flex;
  flex-wrap: wrap;
}

.option {
  margin-bottom: 10px;
  padding: 15px 20px;

  width: 100%;

  color: #000505;
  background: #ffffff;

  border: 1px solid #E0E1EA;
  border-radius: 4px;

  font-size: 16px;
  line-height: 22px;

  cursor: pointer;

  transition: .2s;
  -webkit-transition: .2s;
  -moz-transition: .2s;
  -o-transition: .2s;
  -ms-transition: .2s;
}

.option:hover {
  color: #fff;
  background-color: transparent;
}

.right-wrapper {
  padding: 60px 0;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.close {
  width: 34px;
  height: 34px;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: transparent;

  border: 1px solid #E0E1EA;
  border-radius: 50%;
}

.pages {
  color: #E0E1EA;

  font-size: 24px;
  font-weight: 400;
}
