<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.6.0/styles/atom-one-light.min.css">

<div></div>
<div class="test-wrapper">
  <div class="topic" *ngIf="test">
    {{test.direction}}
  </div>
  <div class="question" *ngIf="test">
    {{test.questions[currentQuestion].text}}
    <pre class="codeblock" 
          *ngIf="test.questions[currentQuestion].codeBlock"
          [innerHTML]="test.questions[currentQuestion].codeBlock">
    </pre>
  </div>
  <div class="options" *ngIf="test">
    <div class="option"
         *ngFor="let option of test.questions[currentQuestion].options"
         (click)="handleAnswer(test.questions[currentQuestion].id, option.id)"
    >{{option.text}}</div>
  </div>
</div>

<div class="right-wrapper">
  <button mat-button class="round close" [routerLink]="['/test-module', 'tests']"><img src="./assets/img/cross-white.svg" alt="close"></button>
  <div class="pages" *ngIf="test">{{currentQuestion + 1}}/{{test.questions.length}}</div>
</div>
