<form [formGroup]="form" (ngSubmit)="submit(formDirective)" #formDirective="ngForm">

  <mat-form-field appearance="outline">
    <mat-label>Номер группы</mat-label>
    <input matInput (blur)="getGroupId(form.value['groupNumber'])" formControlName="groupNumber">
    <mat-error *ngIf="form.controls.groupNumber.hasError('incorrect')">Такой группы не существует</mat-error>
    <a mat-icon-button matSuffix matTooltip="Уточните у преподавателя" matTooltipPosition="above">
      <mat-icon svgIcon="clarity-help-line"></mat-icon>
    </a>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Имя</mat-label>
    <input matInput formControlName="firstName">
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Фамилия</mat-label>
    <input matInput formControlName="lastName">
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>E-mail</mat-label>
    <input matInput formControlName="email">
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Пароль</mat-label>
    <input type="password" matInput formControlName="password">
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Повторите пароль</mat-label>
    <input type="password" matInput formControlName="confirmPassword">
    <mat-error *ngIf="form.controls['confirmPassword'].errors?.mustMatch">Пароли не совпадают</mat-error>
  </mat-form-field>

  <button mat-button [disabled]="form.invalid || submitted">Зарегистрироваться</button>
</form>
