<div class="main-wrapper">
  <div class="back-wrapper">
    <button mat-button class="round inverted" [routerLink]="['/test-module', 'tests']">
      <img src="./assets/img/arrow.svg" alt="clear">
    </button>
  </div>
  <div class="test-wrapper">
    <div class="header-wrapper">
      <div class="header_content">
        Создание нового теста
      </div>
      <button mat-button 
              class="header__button" 
              [disabled]="!checkInputs()"
              (click)="saveTest()"
              >
        Сохранить
      </button>
    </div>
    <div class="options-wrapper">
      <div>
        <mat-form-field appearance="outline" class="option">
          <mat-label>Название теста</mat-label>
          <input matInput
                 type="text"
                 [(ngModel)]="testName">
        </mat-form-field>
      </div>
      <div>
        <mat-form-field appearance="outline" class="option">
          <mat-label>Язык</mat-label>
          <mat-select [(ngModel)]="testLanguage">
            <mat-option *ngFor="let language of testLanguages | keyvalue: originalOrder" [value]="language.key">
              {{language.value}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field appearance="outline" class="option">
          <mat-label>Направление</mat-label>
          <mat-select [(ngModel)]="testDirection">
            <mat-option *ngFor="let direction of testDirections | keyvalue: originalOrder" [value]="direction.key">
              {{direction.value}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
    <div class="test-options-wrapper">
      <div class="questions-options">
        <div class="header-question">
          Вопросы теста
        </div>
        <div class="create__button">
          <button mat-raised-button color="primary" (click)="openCreateQuestionDialog()">
            Создать вопрос</button>
        </div>
        <div class="quantity-questions">
          {{usedQuestions.length}} {{properUsedQuestionsWord}}
        </div>
      </div>
      <div class="all-questions-options">
        <div class="header-question">
          Все вопросы
        </div>
        <div class="main-controls">
          <div>
            <mat-form-field appearance="outline" class="main-controls__elem main-controls__category">
              <mat-label>Язык</mat-label>
              <mat-select>
                <mat-option *ngFor="let language of questionLanguages | keyvalue: originalOrder" [value]="language.key">
                  {{language.value}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div>
            <mat-form-field appearance="outline" class="main-controls__elem main-controls__language">
              <mat-label>Категория</mat-label>
              <mat-select>
                <mat-option *ngFor="let category of questionTypes | keyvalue: originalOrder" [value]="category.key">
                  {{category.value}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div>
            <mat-form-field appearance="outline" class="main-controls__elem main-controls__difficulty">
              <mat-label>Сложность</mat-label>
              <mat-select>
                <mat-option *ngFor="let level of questionLevels | keyvalue: originalOrder" [value]="level.key">
                  {{level.value}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <button mat-button class="round inverted main-controls__clear">
            <img src="./assets/img/cross.svg" alt="clear">
          </button>
        </div>
        <div class="search-amount-container">
          <input class="search-option main-control__search" placeholder="Поиск">
          <div class="questions-amount" *ngIf="allQuestions">
            {{allQuestions.length}} {{properAllQuestionsWord}}
          </div>
        </div>
      </div>
    </div>
    <div class="tests-elements">
      <div class="used-questions" 
                                  cdkDropList
                                  #usedList="cdkDropList"
                                  [cdkDropListData]="usedQuestions"
                                  [cdkDropListConnectedTo]="[unusedList]"
                                  (cdkDropListDropped)="drop($event)">
        <div class="question" *ngFor="let question of usedQuestions" cdkDrag>
          <div class="question__top-wrapper">
            <div class="question__topic">{{question.text}}</div>
            <div class="question__settings">
              <div></div>
              <div></div>
              <div></div>
            </div>
          </div>
          <div class="question__bottom-wrapper">
            <div class="question__difficulty">
              <div>{{questionLevels[question.level]}} / {{questionLanguages[question.language]}}</div>
            </div>
            <div class="question__type-question">
              <div>{{questionTypes[question.type]}}</div>
            </div>
          </div>
        </div>
        <div class="question-stub"
              *ngIf="usedQuestions.length === 0 && allQuestions.length !== 0">
          Перетащите сюда вопросы из правого столбца
        </div>
      </div>
      <div class="separator">
        <div></div>
        <div><img src="./assets/img/drag-drop-arrows.svg" alt="arrows"></div>
        <div></div>
      </div>
      <div class="unused-questions" 
                                    cdkDropList
                                    #unusedList="cdkDropList"
                                    [cdkDropListData]="allQuestions"
                                    [cdkDropListConnectedTo]="[usedList]"
                                    (cdkDropListDropped)="drop($event)">
        <div class="question" *ngFor="let question of allQuestions" cdkDrag>
          <div class="question__top-wrapper">
            <div class="question__topic">{{question.text}}</div>
            <div class="question__settings">
              <div></div>
              <div></div>
              <div></div>
            </div>
          </div>
          <div class="question__bottom-wrapper">
            <div class="question__difficulty">
              <div>{{questionLevels[question.level]}} / {{questionLanguages[question.language]}}</div>
            </div>
            <div class="question__type-question">
              <div>{{questionTypes[question.type]}}</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="background"></div>
</div>
