body {
  height: 100% !important;
}

.background {
  height: 100vh;
  width: 1260px;

  position: fixed;

  background: #ffffff;

  z-index: -1;
}

.main-wrapper {
  margin: 10px auto;

  max-width: 1260px;
  min-width: 1260px;

  display: flex;
}

.back-wrapper {
  padding: 50px 40px 0 60px;

  width: 134px;
}

.test-wrapper {
  padding-left: 50px;
  width: 100%;
}

.header-wrapper {
  padding: 50px 60px 12px 0;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header_content {
  font-size: 36px;
  font-weight: 400;
  line-height: 36px;
}

.header__button {
  padding: 8px 20px;

  display: flex;
  align-content: center;
  justify-content: center;

  color: #ffffff;
  background: #323460;

  border-radius: 4px;

  font-size: 14px;
}

.name-option {
  font-size: 16px;

  color: #323460;

  font-weight: 400
}

.options-wrapper .option {
  margin-bottom: 15px;

  width: 450px;

  font-size: 16px;
}

.option-control__elem_foldable::after {
  content: "";

  margin-top: 6px;
  margin-left: auto;

  width: 0;
  height: 0;

  display: inline-block;

  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 4px solid #4248C5;
}

.test-options-wrapper {
  display: flex;
}

.questions-options {
  margin-right: 50px;

  display: flex;
  flex-wrap: wrap;

  width: 450px;
}

.header-question {
  width: 100%;

  color: #323460;

  font-size: 24px;
  font-weight: 400
}

.create__button {
  margin-top: 5px;

  width: 143px;
}

.quantity-questions {
  margin-left: auto;

  align-self: flex-end;

  color: #000505;

  text-align: right;
  font-size: 14px;
}

.main-controls {
  margin-top: 5px;
  margin-bottom: 10px;

  display: flex;
  align-items: center;
}

::ng-deep .main-wrapper .mat-form-field-wrapper {
  padding-bottom: 0 !important;
}

::ng-deep .main-controls mat-select, .main-controls mat-label {
  font-size: .9em !important;   
}

.main-controls__elem {
  width: 120px;

  font-size: 15px;
}

.main-controls > div {
  margin-right: 10px;
}

.main-controls > div:last-of-type {
  margin-right: 0;
}

.main-controls__elem_foldable::after {
  content: "";

  margin-top: 4px;
  margin-left: 7px;

  width: 0;
  height: 0;

  display: inline-block;

  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 4px solid #4248C5;
}

.main-control__search {
  width: 300px;
  margin: 0 20px 0 0;
  padding: 6px 10px;
  display: flex;
  align-items: center;
  border: 1px solid #E0E1EA;
  border-radius: 6px;
  font-size: 15px;
}

.main-controls__questions-amount {
  margin-right: 10px;
}

.main-controls__clear {
  margin-left: auto;
}

.main-control__search {
  margin-right: 70px;
  margin-bottom: 0;

  width: 300px;

  color: rgba(0, 0, 0, 0.5);
}

.search-amount-container {
  display: flex;
  justify-content: space-between;
}

.questions-amount {
  margin-top: auto;

  color: #000505;

  font-size: 14px;
}

.tests-elements {
  margin-top: 10px;

  display: grid;
  grid-template-columns: 450px 50px 450px;
}

.tests-elements .separator {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}

.tests-elements > div > div {
  width: 100%;
}

.question {
  margin-bottom: 15px;
  padding: 10px 15px;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;

  border: 1px solid #E0E1EA;
  border-radius: 6px;
}

.question:hover {
  cursor: pointer;

  box-shadow: 0 1px 1px rgba(50, 52, 96, 0.2), 0 1px 3px rgba(50, 52, 96, 0.15), 0 4px 8px rgba(50, 52, 96, 0.1);
}

.question > div {
  width: 100%;
}

.question__top-wrapper {
  display: flex;
  justify-content: space-between;
}

.question__settings {
  margin: 4px 0 0 0;

  width: 10px;

  display: flex;
  justify-content: space-between;
}

.question__settings div {
  width: 2px;
  height: 2px;

  background: rgba(0, 0, 0, 0.5);

  border-radius: 50%;

  transform: rotate(-90deg);
}

.question__topic {
  width: 80%;

  font-size: 16px;
  font-weight: 400
}

.question__bottom-wrapper {
  margin: 8px 0 0 0;

  display: flex;
  align-items: center;
  justify-content: space-between;

  color: rgba(0, 0, 0, .5);

  font-size: 12px;
  font-weight: 350;
}

.separator {
  padding: 0 49% 0 50%;

  align-items: stretch;
  justify-content: center;
}

.separator div:first-child, .separator div:last-child {
  height: 40%;

  border-right: 1px solid #7f7f7f;
}

.separator div:nth-child(2) {
  display: flex;
  align-items: center;
  justify-content: center;
}

.question-stub {
  color: rgba(0, 0, 0, .5);

  text-align: center;

  font-size: 1.2em;
}