.mat-dialog-container {
  padding: 0;
}

.mat-dialog-content {
  padding: 0;

  max-height: none;
}

.dialog-wrapper {
  margin: 0 auto;

  max-width: 800px;
  min-width: 800px;

  background: #ffffff;
}

.content-wrapper {
  padding: 0 60px 40px 135px;
}

.header-content {
  margin-bottom: 45px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-content__name {
  font-size: 36px;

  color: #000505;
}

.header-content__close-button button.mat-mini-fab {
  background: #323460;
}

.question__text-area {
  margin-bottom: 10px;
}

.question__code-block {
  margin-top: 15px;
}

::ng-deep .question__text-area .mat-form-field-wrapper {
  padding-bottom: 0 !important;
}

.options-container {
  width: 470px;
}

.option__header, .answer__header {
  margin-bottom: 25px;

  color: #323460;

  font-size: 20px;
  font-weight: 400
}

mat-form-field {
  display: block;
}

.option_difficulty {
  margin-bottom: 70px;
}

.option_difficulty__header {
  margin-bottom: 15px;

  color: #323460;

  font-size: 13px;
  font-weight: 400
}

mat-radio-button {
  margin-right: 18px;
}

.option-question {
  position: relative;
}

.add-question-control {
  margin-bottom: 30px;

  width: 32px;
  height: 32px;

  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 50%;
  border: 1px solid #E0E1EA;
}

::ng-deep .mat-form-field-outline {
  transition: .2s !important;
  -webkit-transition: .2s !important;
  -moz-transition: .2s !important;
  -o-transition: .2s !important;
  -ms-transition: .2s !important;
}

::ng-deep .option_correct .mat-form-field-outline {
  background-color: #caffbf !important;
}

.question__file-input {
  right: -43px;

  position: absolute;

  display: flex;
  align-items: center;
  justify-content: center;
}

.question__file-input input {
  top: 0;
  left: 0;

  width: 0;
  height: 0;

  position: absolute;
}

.question__file-thumbs {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.file-thumb {
  margin: 0 10px 10px 0;

  display: flex;
  align-items: center;

  border: 1px solid #E0E1EA;
  border-radius: 6px;

  cursor: pointer;

  transition: .2s;
  transition: .2s;
  -webkit-transition: .2s;
  -moz-transition: .2s;
  -o-transition: .2s;
  -ms-transition: .2s;
}

.file-thumb img {
  height: 30px;
}

.file-thumb__filename {
  margin: 0 10px;
}

.file-thumb__close {
  margin-right: 10px;

  height: 20px !important;

  transition: .2s;
  -webkit-transition: .2s;
  -moz-transition: .2s;
  -o-transition: .2s;
  -ms-transition: .2s;
}

.file-thumb:hover {
  color: #d41500;
}

.file-thumb:hover .file-thumb__close {
  filter: invert(12%) sepia(97%) saturate(6214%) hue-rotate(19deg) brightness(93%) contrast(106%);
}