<mat-dialog-content>
  <div class="dialog-wrapper">
    <div class="content-wrapper">
      <div class="header-content">
        <div class="header-content__name">
          Создание нового вопроса
        </div>
        <div class="header-content__close-button">
          <button mat-dialog-close mat-mini-fab>
            <mat-icon>close</mat-icon>
          </button>
        </div>
      </div>
      <div class="options-container">
        <div class="option__header">
          Параметры
        </div>
        <div class="option__type">
          <mat-form-field appearance="outline">
            <mat-label>Тип вопроса</mat-label>
            <mat-select [(ngModel)]="questionCreationRequest.type">
              <mat-option *ngFor="let type of questionTypes | keyvalue: originalOrder" [value]="type.key">
                {{type.value}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="option__language">
          <mat-form-field appearance="outline">
            <mat-label>Язык</mat-label>
            <mat-select [(ngModel)]="questionCreationRequest.language">
              <mat-option *ngFor="let language of questionLanguages | keyvalue: originalOrder" [value]="language.key">
                {{language.value}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="option_difficulty">
          <div class="option_difficulty__header">
            Сложность
          </div>
          <mat-radio-group color="primary" [(ngModel)]="questionCreationRequest.level">
            <mat-radio-button
              *ngFor="let level of questionLevels | keyvalue: originalOrder"
              [value]="level.key">{{level.value}}</mat-radio-button>
          </mat-radio-group>
        </div>
        <div class="option-question">
          <div class="answer__header">
            Вопрос
          </div>
          <div class="question__file-input">
            <button mat-button class="round inverted option-control__file" (click)="questionFileInput.click()">
              <img src="./assets/img/clip.svg" alt="file">
            </button>
            <input type="file"
             #questionFileInput
             multiple
             (change)="handleFileInputEvent($event)">
          </div>
          <div class="question__text-area">
            <mat-form-field appearance="outline">
              <mat-label>Текст вопроса</mat-label>
              <textarea matInput cols="40" placeholder="Что такое..." [(ngModel)]="questionCreationRequest.text"></textarea>
            </mat-form-field>
          </div>
          <div class="question__file-thumbs" *ngIf="files">
            <div class="file-thumb" *ngFor="let thumb of files.fileThumbs; let ind = index"
                                    (click)="deleteFile(ind)">
              <img src="./assets/img{{thumb}}" alt="thumb">
              <div class="file-thumb__filename">{{files.fileList[ind].name}}</div>
              <img class="file-thumb__close" src="./assets/img/cross-black.svg" alt="cross">
            </div>
          </div>
          <div class="question__code-block">
            <mat-form-field appearance="outline">
              <mat-label>Блок кода</mat-label>
              <textarea matInput cols="40" rows="10" placeholder="public static void main(String[] args)..." [(ngModel)]="questionCreationRequest.codeBlock"></textarea>
            </mat-form-field>
          </div>
        </div>
        <div class="question__answer">
          <div class="answer-input">
            <mat-form-field appearance="outline"
                            *ngFor="let option of questionCreationRequest.options; let i = index"
                            [ngClass]="{'option_correct': option.isCorrect}">
              <mat-label>Вариант {{i + 1}}</mat-label>
              <input matInput placeholder="Введите вариант.." [(ngModel)]="option.text">
              <a mat-icon-button matSuffix (click)="option.isCorrect = !option.isCorrect">
                <mat-icon [svgIcon]="option.isCorrect ? 'mark-as-wrong' : 'mark-as-correct'">
                </mat-icon>
              </a>
            </mat-form-field>
          </div>
        </div>
        <button mat-button class="round inverted add-question-control" (click)="addOption()">
          <img src="./assets/img/add.svg" alt="addQuestion">
        </button>
        <div class="save-question">
          <button mat-button (click)="saveQuestion()" [disabled]="!checkInputs()">Сохранить</button>
          <button style="width: 0; height: 0; position: absolute; top: 0; left: 0;" mat-dialog-close id="closeModal"></button>
        </div>
      </div>
    </div>
  </div>
</mat-dialog-content>
