<div class="main-wrapper">
  <div class="main-wrapper__menu">
    <div class="main-wrapper__menu__elem"
         [routerLinkActiveOptions]="{exact: true}"
         [routerLink]="['/achievement-module/my-achievements']"
         routerLinkActive="main-wrapper__menu__elem_active"
    >Моя достижения
    </div>
    <div class="main-wrapper__menu__elem"
         [routerLinkActiveOptions]="{exact: true}"
         [routerLink]="['/achievement-module/my-achievements-packs']"
         *ngIf="getUserRole() === 'TEACHER'"
         routerLinkActive="main-wrapper__menu__elem_active"
    >Мои пакеты достижений
    </div>
  </div>
  <router-outlet></router-outlet>
</div>
