:host {
  margin: 20px 20px 0 20px;

  width: 100%;

  display: block;
}

.main-wrapper {
  width: 100%;
}

.main-wrapper__menu {
  display: flex;
  align-items: flex-end;
}

.main-wrapper__menu__elem {
  margin-bottom: -1px;
  padding: 2px 10px;

  display: flex;
  align-items: center;
  justify-content: center;

  border-top: 1px solid #E0E1EA;
  border-right: 1px solid #E0E1EA;
  border-bottom: 1px solid #E0E1EA;
  border-radius: 4px 4px 0 0;

  font-size: 15px;
}

.main-wrapper__menu__elem:hover {
  cursor: pointer;
}

.main-wrapper__menu__elem:first-of-type {
  border-left: 1px solid #E0E1EA;
}

.main-wrapper__menu__elem_active {
  padding: 6px 12px 1px;

  color: #000505;
  background-color: #fff;

  border-bottom: 1px solid #fff;

  font-size: 16px;
  font-weight: 400
}
