<div class="main-content-wrapper">
  <div class="main-controls">
    <input class="main-controls__elem main-controls__search" placeholder="Поиск">
    <div class="main-controls__elem main-controls__status main-controls__elem_foldable">Статус</div>
    <div class="main-controls__elem main-controls__category main-controls__elem_foldable">Категория</div>
    <div class="main-controls__elem main-controls__questions-amount main-controls__elem_foldable">Количество вопросов
    </div>
    <div class="main-controls__elem main-controls__clear">
      <img src="./assets/img/cross.svg" alt="clear">
    </div>
    <div class="main-controls__create-test">
      <button mat-raised-button color="primary" routerLink="/create-test">
        Создать тест
      </button>
    </div>
  </div>
  <div class="main-content">
    <div class="main-content__stats">
      <div>{{tests.length}} {{properTestsLength}}</div>
      <div class="main-content__stats__elem-foldable">Сортировать по: статус</div>
    </div>
    <div class="main-elements">
      <div class="main-element"
           *ngFor="let test of tests" [routerLink]="['/active-test', 'test', test.id]">
        <div class="main-element__top-wrapper">
          <div class="main-element__section">{{testLanguages[test.language]}}</div>
          <div class="main-element__settings">
            <div></div>
            <div></div>
            <div></div>
          </div>
        </div>
        <div class="main-element__middle-wrapper">
          <div class="main-element__topic">{{test.name}}</div>
        </div>
        <div class="main-element__bottom-wrapper">
          <div class="main-element__status">Статус: TO DO!!!!</div>
          <div class="main-element__questions-amount">TO DO!!! вопросов</div>
        </div>
      </div>
    </div>
  </div>
</div>
