.confirm-wrapper {
  margin-top: 40px;

  width: 100%;
}

.confirm-header {
  color: #323460;

  font-size: 16px;
  font-weight: 400;
}

.request-container {
  margin-top: 10px;
}

.request {
  border: 1px solid #E0E1EA;
  border-radius: 6px;
}

.request__image {
  width: 32px;
  height: 32px;
}

.request-info {
  margin: 15px 0 15px 20px;

  display: flex;
  align-items: center;
}

.name {
  margin-left: 10px;
}

.name div:first-child {
  color: #000000;

  font-size: 18px;
  font-weight: 400;
}

.name div:last-child {
  color: rgba(0, 0, 0, 0.5);

  font-size: 14px;
  font-weight: 200;
}

.request__active {
  margin-left: auto;
  margin-right: 15px;

  display: flex;
  align-items: center;
}

.request__active > div:first-child {
  margin-right: 10px;
}
