<div class="confirm-wrapper">
  <div class="confirm-header">
    Добавление в группу
  </div>
  <div class="request-container" *ngFor="let request of requests">
    <div class="request">
      <div class="request-info">
        <div class="request__image">
          <img src="./assets/img/student-logo.png" alt="logo">
        </div>
        <div class="name">
          <div>{{request.userName}} {{request.userLastName}}</div>
          <div>{{request.userEmail}}</div>
        </div>
        <div class="request__active">
          <div>
            <button (click)="confirmRequest(request.id, request.userName, request.userLastName)" mat-button class="round inverted">
              <img src="./assets/img/check-mark-green.svg" alt="complete">
            </button>
          </div>
          <div>
            <button (click)="rejectRequest(request.id, request.userName, request.userLastName)" disabled mat-button class="round inverted">
              <img src="./assets/img/cross-red.svg" alt="complete">
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
