<form [formGroup]="form" (ngSubmit)="submit(formDirective)" #formDirective="ngForm">

  <mat-form-field appearance="outline">
    <mat-label>Имя</mat-label>
    <input matInput formControlName="firstName">
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Фамилия</mat-label>
    <input matInput formControlName="lastName">
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>E-mail</mat-label>
    <input matInput formControlName="email">
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Пароль</mat-label>
    <input type="password" matInput formControlName="password">
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Повторите пароль</mat-label>
    <input type="password" matInput formControlName="confirmPassword">
    <mat-error *ngIf="form.controls['confirmPassword'].errors?.mustMatch">Пароли не совпадают</mat-error>
  </mat-form-field>

  <button mat-button [disabled]="form.invalid || submitted">Зарегистрироваться</button>
</form>
