mat-form-field {
  width: 100%;

  color: #323460;
}

button {
  margin-bottom: 25px;
  padding: 12px;

  width: 100%;

  background-color: #4248C5;
}

.mat-button-disabled {
  background: rgba(92, 97, 201, 0.15) !important;
}
