* {
  box-sizing: border-box;
  font-weight: 200;
}

*:focus {
  outline: none;
}

html {
  background-color: #EEEFF3;

  font-family: "Open Sans", sans-serif;
}

body, html {
  margin: 0;
  padding: 0;

  height: 100%;
}

.mat-select-arrow {
  color: #4248C5;
}

.mat-radio-outer-circle {
  border-width: 1px !important;
  border-style: solid;
  border-color: #E0E1EA;
}

.mat-radio-button.mat-primary.mat-radio-checked .mat-radio-outer-circle {
  border-color: #4248C5;
}

.mat-radio-button.mat-primary .mat-radio-inner-circle {
  color: #4248C5;
  background-color: #4248C5;
}

.mat-radio-button.mat-primary .mat-radio-ripple .mat-ripple-element {
  background-color: #323460;
}

.mat-raised-button.mat-primary {
  background: #323460;
}

.mat-form-field-flex > .mat-form-field-infix {
  padding: 0.4em 0 !important;
}

.mat-form-field-label-wrapper {
  top: -1.5em;
}

.mat-form-field-appearance-outline.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label {
  width: 133.33333%;

  transform: translateY(-1.1em) scale(.75);
}

.mat-mini-fab:not([class*=mat-elevation-z]) {
  box-shadow: none;
}

.mat-expansion-panel-header {
  height: auto !important;
}

.step .mat-expansion-panel-body {
  padding: 0 !important;
}

button[mat-button] {
  padding: 8px 20px;

  display: flex;
  align-items: center;
  justify-content: center;

  color: #ffffff;
  background-color: #323460;

  line-height: normal;
}

button[mat-button].round {
  padding: 0;

  min-width: 34px;
  width: 34px;
  max-width: 34px;

  min-height: 34px;
  height: 34px;
  max-height: 34px;

  border: 1px solid #E0E1EA;
  border-radius: 50%;
}

button[mat-button].inverted {
  color: #323460;
  background-color: #ffffff;
}

button[mat-button].mat-button-disabled {
  color: #ffffff !important;
  background-color: rgba(0, 0, 0, 0.25);
}

.mat-button-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.mat-form-field-suffix > a {
  display: flex !important;
  align-content: center !important;
  justify-content: center !important;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.error-notification {
  background-color: #ff0000;
}

.dialog-config .mat-dialog-container {
  padding: 0 !important;

  width: 800px;
  max-height: 800px;

  border: 10px solid #E0E1EA;
  border-radius: 0;
}

.achievement-notification-dialog .mat-dialog-container {
  padding: 0 !important;

  width: 440px;
  height: 280px;

  background: linear-gradient(184.17deg, #4248C5 -14.81%, #4046B8 0.6%, #3E43AC 26.94%, #3C419F 42.58%, #3A3E93 67.28%, #383C86 81.27%, #363979 100.2%, #34376D 114.2%, #323460 139.72%);;
}
