.main-wrapper {
  margin: 0 auto;

  max-width: 1280px;
  min-width: 1280px;

  display: grid;
  grid-template-columns: 150px 1fr 300px;

  border: 10px solid #EEEFF3;

  background: #ffffff;
}
  
.back-wrapper {
  padding: 50px 40px 0 60px;

  width: 134px;
}
  
.back-control__elem {
  padding: 17px 10px;

  width: 34px;
  height: 34px;

  display: flex;
  align-items: center;
  justify-content: center;

  border: 1px solid #E0E1EA;
  border-radius: 50%;

  font-size: 15px;
}
  
.roadmap-wrapper {
  width: 100%;
}

.save-button-container {
  padding: 50px 60px 60px 0;

  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
}

.header-wrapper {
  padding: 50px 60px 12px 50px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}
  
.header_content {
  font-size: 36px;
  font-weight: 400;
  line-height: 36px;
}

.options-wrapper {
  padding-left: 50px;
  padding-right: 350px;
}

.option, .mat-input-wrapper {
  width: 100%;
}
  
.option-control__elem_foldable::after {
  content: "";

  margin-top: 6px;
  margin-left: auto;

  width: 0;
  height: 0;

  display: inline-block;

  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 4px solid #4248C5;
}

.roadmaps-nothing-here {
  padding-left: 50px;

  color: rgba(0, 0, 0, 0.25);
  
  font-size: 20px;
}

.roadmap-steps {
  margin-top: 60px;
}

.roadmap-steps-container > div {
  margin-bottom: 30px;

  width: 100%;

  display: grid;
  grid-template-columns: 50px 1fr 100px;
  align-items: start;

  position: relative;
}

.section-header {
  margin-bottom: 20px;
  padding-left: 50px;

  color: #323460;

  font-size: 24px;
  font-weight: 400;
}

.step {
  margin-bottom: 0;

  border: 1px solid #E0E1EA;
  border-radius: 6px;

  box-shadow: 0;
}

.step__title-container {
  padding: 10px 20px 10px 0;

  color: #fff;
  background-color: #323460 !important;

  border-radius: 6px 6px 0 0 !important;

  font-size: 20px;
  font-weight: 400;
}

.step__title-image-container {
  margin: 0 20px;

  display: flex;
  align-items: center;
  justify-content: center;

  cursor: move;
}

.step__title {
  line-height: normal !important;
}

.mat-expanded {
  height: auto !important;
}

::ng-deep .step__title-container > .mat-expansion-indicator::after {
  padding: 0 !important;

  border-width: 5px 5px 0px 5px;
  border-color: #fff transparent transparent transparent;

  transform: rotate(0deg) !important;
}

.mat-expansion-panel-content > .mat-expansion-panel-body {
  padding: 0 !important;
}

.step__content {
  padding: 10px 15px;

  font-size: 16px !important;
  font-weight: 300 !important; 
  line-height: 22px !important;

  white-space: pre;
}

.step__position {  
  color: #EEEFF3;

  padding-right: 15px;

  font-size: 48px;
  text-align: right;
  line-height: 48px;
}

.step__buttons-container {
  margin-left: 10px;

  display: grid;
  grid-template-columns: 34px 34px;
  gap: 0 10px;

  opacity: 0;

  transition: 0.2s;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -o-transition: 0.2s;
  -ms-transition: 0.2s;
}

.roadmap-steps-container > div:hover .step__buttons-container {
  opacity: 1;
}

.new-step {
  margin-top: 60px;
}

.new-step-container {
  padding-left: 50px;
  padding-right: 100px;

  width: 100%;
}

.add-button-container {
  margin-top: 10px;
  margin-bottom: 100px;
  padding-left: 50px;
}

.cdk-drag-preview {
  left: 50px !important;

  width: 662px !important;

  border: 0 !important;
  border-radius: 4px;
}

.cdk-drag-preview .step__position {
  display: none;
}