<div class="main-wrapper">
  <div class="back-wrapper">
    <button mat-button
            class="back-control__elem round inverted"
            routerLink="/roadmap-module/starred">
      <img src="./assets/img/arrow.svg" alt="back">
    </button>
</div>
<div class="roadmap-wrapper">
  <div class="header-wrapper">
    <div class="header_content">
      Создание Road Map
    </div>
  </div>
  <div class="options-wrapper">
    <mat-form-field appearance="outline" class="option roadmap-name">
      <mat-label>Название Road Map</mat-label>
      <input matInput
             type="text"
             [(ngModel)]="roadMapTitle">
    </mat-form-field>
    
    <mat-form-field appearance="outline" class="option roadmap-category">
      <mat-label>Категория (TODO)</mat-label>
      <mat-select [(ngModel)]="roadMapCategory">
        <mat-option value="Java">
          Java
        </mat-option>
        <mat-option value="C#">
          C#
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="roadmap-steps">
    <div class="section-header">
      Шаги для достижения цели
    </div>
    <ng-container cdkDropListGroup>
      <div class="roadmap-steps-container" 
           cdkDropList
           [cdkDropListData]="steps"
           (cdkDropListDropped)="stepDropped($event)"
           *ngIf="steps.length">
        <div cdkDrag
             *ngFor="let step of steps; let i = index">
          <div class="step__position">{{i + 1}}</div>
          <mat-expansion-panel class="step mat-elevation-z0">
            <mat-expansion-panel-header class="step__title-container">
              <div class="step__title-image-container">
                <img src="./assets/img/drag-drop-img.svg" alt="drag-drop">
              </div>
              <div class="step__title">
                {{step.title}}
              </div>
            </mat-expansion-panel-header>
            <div class="step__content">
              {{step.description}}
            </div>
          </mat-expansion-panel>
          <div class="step__buttons-container">
            <button mat-button
                    class="step__button step__edit round inverted"
                    (click)="prepareForEditing(step.tempId)">
              <img src="./assets/img/edit-pencil.svg" alt="edit">
            </button>
            <button mat-button
                    class="step__button step__delete round inverted"
                    (click)="deleteStep(step.tempId)">
              <img src="./assets/img/delete.svg" alt="delete">
          </button>
          </div>
        </div>
      </div>
      <div class="roadmaps-nothing-here" *ngIf="!steps.length">
        Здесь пока ничего нет, добавьте новый шаг для достижения цели
      </div>
    </ng-container>
  </div>
  <div class="new-step">
    <div class="section-header">
      <span *ngIf="editingStepId < 0">Добавить новый шаг</span>
      <span *ngIf="editingStepId >= 0">Изменить шаг</span>
    </div>
    <div class="new-step-container">
      <mat-form-field appearance="outline" class="option new-step-title">
        <mat-label>Название шага</mat-label>
        <input matInput
               type="text"
               [(ngModel)]="newStepTitle">
      </mat-form-field>
      <mat-form-field appearance="outline" class="option new-step-description">
        <mat-label>Подробнее</mat-label>
        <textarea matInput
                  type="text"
                  cdkTextareaAutosize
                  #autosize="cdkTextareaAutosize"
                  cdkAutosizeMinRows="2"
                  cdkAutosizeMaxRows="5"
                  [(ngModel)]="newStepDescription"></textarea>
      </mat-form-field>
    </div>
  </div>
  <div class="add-button-container">
    <button mat-button
            (click)="addStep()"
            *ngIf="editingStepId < 0"
            [disabled]="!checkStepInputs()">Добавить шаг</button>
    <button mat-button
            (click)="saveEditedStep()"
            *ngIf="editingStepId >= 0"
            [disabled]="!checkStepInputs()">Изменить шаг</button>
  </div>
  </div>
  <div class="save-button-container">
    <button mat-button
            class="save-button"
            [disabled]="!checkRoadmapInputs()">Сохранить</button>
  </div>
</div>
