.main-content-wrapper {
  padding: 20px;

  width: 100%;

  background-color: #ffffff;

  border: 1px solid #E0E1EA;
  border-radius: 0 4px 4px 4px;
}

.main-controls {
  display: flex;
  align-items: center;
}

.main-controls__search {
  margin-right: 20px;
  padding: 6px 10px;

  width: 300px;
  height: 41px;

  border: 1px solid #E0E1EA;
  border-radius: 5px;

  font-size: 15px;
}

mat-form-field {
  margin-right: 10px;
}

.mat-form-field-appearance-outline ::ng-deep .mat-form-field-wrapper {
  padding-bottom: 0;
}

.main-controls__status {
  width: 130px;
}

.main-controls__score {
  width: 160px;
}

button[mat-button].round {
  min-width: 35px;
  width: 35px;
  max-width: 35px;

  min-height: 35px;
  height: 35px;
  max-height: 35px;

  border: 1px solid #E0E1EA;
  border-radius: 50%;
}

img {
  width: 25px;
  height: 25px;
}

.main-controls__control-group {
  margin-left: auto;

  display: flex;
  align-items: center;
}

.main-content-button {
  padding: 7px 20px;

  height: 41px;

  color: #fff;
  background-color: #323460;

  border: 0;

  font-size: 14px;
}

.main-controls__notification {
  margin-left: auto;
  margin-right: 10px;
  padding: 1px 7px;

  width: 37px;
  height: 29px;

  display: flex;
  align-items: center;
  justify-content: center;

  color: #fff;
  background-color: #323460;

  border-radius: 6px;

  font-size: 15px;
  font-weight: 400;
}

.user-student__container {
  margin: 0 0 0 auto;

  text-align: right;
}

.user-student__info {
  margin: 0 5px 0 0;
}

.user-student__info div:first-child {
  font-size: 16px !important;
}

.main-content {
  margin-top: 30px;
}

.main-content__stats {
  margin-bottom: 10px;
}

.main-content__students {
  width: 100%;
}

table {
  width: 100%;

  border: 1px solid rgba(0, 0, 0, .12);
  border-radius: 6px;
}

.mat-table {
  background: none;
}

th {
  border-bottom-width: 2px !important;
}

::ng-deep .mat-sort-header-content {
  color: rgba(0, 0, 0, 0.5);

  font-size: 15px;
  font-weight: 400
}

.student {
  width: 400px;
}

.student__header {
  width: 30%;
}

.student__container {
  margin-top: 10px;
  margin-bottom: 10px;

  display: flex;
  align-items: center;
}

.student__avatar {
  margin-right: 10px;

  width: 32px;
  height: 32px;
}

.student__avatar img {
  width: 100%;
  height: 100%;

  border-radius: 50%;
}

.student__info div:first-child {
  color: #000000;

  font-size: 18px;
  font-weight: 400;
}

.student__info div:last-child {
  color: rgba(0, 0, 0, 0.5);

  font-size: 14px;
  font-weight: 400;
}

.student__status {
  width: 25%;
}

.status__container {
  display: flex;
  align-items: center;
}

.status__circle {
  margin-right: 5px;

  width: 10px;
  height: 10px;

  border-radius: 50%;

  background: #2AB930;
}

.status__text {
  color: rgba(0, 0, 0, 0.5);

  font-size: 14px;
}

.achievement__header {
  margin-left: 100px;

  width: 30%;
}

.achievement__status {
  height: 60px;

  display: flex;
  align-items: center;
}

.achievement__picture-container {
  margin: 5px 10px 5px 0;

  min-width: 50px;
  max-width: 50px;
  height: 50px;

  text-align: center;

  background: linear-gradient(0deg, #F365FF 0%, #FFECFD 100%);
  border-radius: 6px;
}

.achievement__image {
  margin: 0 auto;

  width: 30px;
  height: 40px;
}

.achievement__image img {
  width: 100%;
  height: 100%;

}

.achievement__level {
  color: #FFFFFF;

  font-size: 7px;
  font-weight: 400;
}


.student__score {
  margin-left: 70px;

  font-size: 18px;
  font-weight: 400;
}

.score__container {
  display: flex;
  align-items: center;
}

.score__header {
  margin-right: 15px;

  width: 15%;
}

.student__menu {
  margin-left: auto;
}

.menu-icon {
  color: rgba(0, 0, 0, 0.5);

  font-size: 16px;
}
