<div class="main-content-wrapper">
  <div class="main-controls">
    <input class="main-controls__search" placeholder="Поиск">

    <mat-form-field class="main-controls__status" appearance="outline">
      <mat-label>Статус</mat-label>
      <mat-select>
        <mat-option value="Some">
          Some
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="main-controls__score" appearance="outline">
      <mat-label>Средний балл</mat-label>
      <mat-select>
        <mat-option value="Some">
          Some
        </mat-option>
      </mat-select>
    </mat-form-field>

    <button mat-button class="round inverted">
      <img src="./assets/img/cross.svg" alt="cross">
    </button>

    <div class="main-controls__control-group" *ngIf="getUserRole() === 'TEACHER'">
      <div class="main-controls__notification" *ngIf="numberOfApplications">{{numberOfApplications}}</div>
      <button (click)="openStudentConfirmationDialog()" class="main-content-button" mat-button>Управление группой
      </button>
    </div>

    <div class="student__container user-student__container" *ngIf="getUserRole() === 'STUDENT' && studentProfile">
      <div class="student__info user-student__info">
        <div>{{studentProfile.name}} {{studentProfile.lastName}}</div>
        <div>{{studentProfile.email}}</div>
      </div>
      <div class="student__avatar">
        <img src="./assets/img/ava.png" alt="ava">
      </div>
    </div>

  </div>

  <div class="main-content">
    <div class="main-content__stats">
      {{dataSource.length}} из {{dataSource.length}}
    </div>

    <div class="main-content__students">
      <table mat-table [dataSource]="dataSource" matSort class="group-table">

        <ng-container matColumnDef="name">
          <th class="student__header" mat-header-cell *matHeaderCellDef mat-sort-header>Студент</th>
          <td class="student" mat-cell *matCellDef="let student">
            <div class="student__container">
              <div class="student__avatar">
                <img src="./assets/img/ava.png" alt="ava">
              </div>
              <div class="student__info">
                <div>{{student.name}} {{student.lastName}}</div>
                <div>{{student.email}}</div>
              </div>
            </div>
          </td>
        </ng-container>

        <ng-container matColumnDef="status">
          <th class="student__status" mat-header-cell *matHeaderCellDef mat-sort-header> Статус</th>
          <td class="student__status" mat-cell *matCellDef="let student">
            <div class="status__container">
              <div class="status__circle"></div>
              <div class="status__text">
                На сайте
              </div>
            </div>
          </td>
        </ng-container>

        <ng-container matColumnDef="achievements">
          <th class="achievement__header" mat-header-cell *matHeaderCellDef mat-sort-header> Достижения</th>
          <td class="achievement__status" mat-cell *matCellDef="let student">
            <div class="achievement__picture-container" *ngFor="let achievement of student.achievements">
              <div class="achievement__image">
                <!--                TODO ADD URL-->
                <img src="./assets/img/achievTEST.svg" alt="">
              </div>
              <div class="achievement__level">
                {{achievement.typeOfAchievement}}
              </div>
            </div>
          </td>
        </ng-container>

        <ng-container matColumnDef="score">
          <th class="score__header" mat-header-cell *matHeaderCellDef mat-sort-header> Средний балл</th>
          <td mat-cell *matCellDef="let student">
            <div class="score__container">
              <div class="student__score" appMarkColor>
                {{student.rating}}
              </div>
              <div class="student__menu">
                <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                  <mat-icon class="menu-icon">more_vert</mat-icon>
                </button>
                <mat-menu #menu="matMenu">
                  <button mat-menu-item>
                    <mat-icon>delete</mat-icon>
                    <span>Удалить</span>
                  </button>
                </mat-menu>
              </div>
            </div>
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>
  </div>
</div>
