<div class="main-wrapper">
  <div class="main-wrapper__menu">
    <div class="main-wrapper__menu__elem"
         [routerLink]="['/test-module', 'tests']"
         routerLinkActive="main-wrapper__menu__elem_active"
    >Мои тесты
    </div>
    <div class="main-wrapper__menu__elem"
         [routerLink]="['/test-module', 'questions']"
         routerLinkActive="main-wrapper__menu__elem_active"
    >Мои вопросы
    </div>
  </div>
  <router-outlet></router-outlet>
</div>
