:host {
  height: 100%;

  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 155px calc(100% - 310px) 155px;
}

.result-wrapper {
  padding: 7% 10% 0;
}

.result-wrapper > div {
  width: 100%;
}

.topic {
  margin-bottom: 80px;

  color: #ffffff;

  text-align: center;

  font-size: 48px;
  font-weight: 400;
}

.stats {
  margin-bottom: 100px;

  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
}

.stats > div {
  width: 100%;

  display: flex;
  justify-content: stretch;

  color: #ffffff;

  font-size: 36px;
  font-weight: 400
}

.stats > div div {
  margin-bottom: 30px;
}

.stats > div div:last-child {
  margin-left: auto;
}

.mark-container {
  margin-top: 40px;

  justify-content: flex-end;
}

.mark-container div {
  margin-left: auto;

  font-size: 48px;
}

.buttons-wrapper {
  display: flex;
  justify-content: center;
}

.buttons-wrapper button {
  padding: 7px 20px 8px;

  display: flex;
  align-items: center;
  justify-content: center;

  border: 1px solid #323460;
  border-radius: 6px;

  font-size: 24px;
}

.buttons-wrapper button:first-child {
  margin-right: 40px;
}
