<div></div>

<div class="result-wrapper">
  <div class="topic">
    Поздравляю, вы прошли тест.
  </div>

  <div class="stats" *ngIf="result">
    <div class="right-answers-container">
      <div>Правильных ответов</div>
      <div></div>
      <div>{{correctAmount}}</div>
    </div>
    <div class="mistakes-container">
      <div>Ошибок</div>
      <div></div>
      <div>{{wrongAmount}}</div>
    </div>
    <div class="time-container">
      <div>Время прохождения</div>
      <div></div>
      <div>{{time}}</div>
    </div>
    <div class="mark-container">
      <div>Ваша отметка {{result.score}}</div>
    </div>
  </div>
  <div class="buttons-wrapper">
    <button *ngIf="result" mat-button class="inverted" [routerLink]="['/active-test', 'test', result.testPreview.id]">Пройти еще раз</button>
    <button mat-button class="inverted" [routerLink]="['/test-module', 'tests']" >Выйти</button>
  </div>
</div>

<div></div>
