.main-content-wrapper {
  padding: 20px;

  width: 100%;

  background-color: #ffffff;

  border: 1px solid #E0E1EA;
  border-radius: 0 4px 4px 4px;
}

.main-controls {
  margin-bottom: 35px;

  display: flex;
  align-items: center;
}

.main-controls__search {
  margin-right: 20px;
  padding: 6px 10px;

  width: 300px;
  height: 41px;

  border: 1px solid #E0E1EA;
  border-radius: 5px;

  font-size: 15px;
}

mat-form-field {
  margin-right: 10px;
}

.mat-form-field-appearance-outline ::ng-deep .mat-form-field-wrapper {
  padding-bottom: 0;
}

.main-controls__status {
  width: 130px;
}

.main-controls__score {
  width: 160px;
}

.user-student__container {
  margin-left: auto;

  text-align: right;
}

.user-student__info {
  margin: 0 5px 0 0;
}

.user-student__info div:first-child {
  font-size: 16px !important;
}

.student {
  width: 400px;
}

.student__container {
  display: flex;
  align-items: center;
}

.student__avatar, .teacher__avatar {
  min-width: 32px;
  max-width: 32px;
  height: 32px;
}

.student__avatar img, .teacher__avatar img {
  width: 100%;
  height: 100%;

  border-radius: 50%;
}

.student__info div:first-child {
  color: #000000;

  font-size: 18px;
  font-weight: 400;
}

.student__info div:last-child {
  color: rgba(0, 0, 0, 0.5);

  font-size: 14px;
  font-weight: 400;
}

.student__status {
  width: 350px;
}

.status__container {
  display: flex;
  align-items: center;
}

.status__circle {
  margin-right: 5px;

  width: 10px;
  height: 10px;

  border-radius: 50%;

  background: #2AB930;
}

.status__text {
  color: rgba(0, 0, 0, 0.5);

  font-size: 14px;
}

.student__score {
  margin-left: 70px;

  color: #2AB930;

  font-size: 18px;
  font-weight: 400;
}

.score__container {
  display: flex;
  align-items: center;
}

.student__menu {
  margin-left: auto;
}

.menu-icon {
  color: rgba(0, 0, 0, 0.5);

  font-size: 16px;
}

.main-content__header {
  padding: 15px 0 15px 20px;

  width: 100%;

  display: grid;
  grid-template-columns: 35px 580px 200px 70px;
  grid-row: 1;

  align-content: center;

  border-bottom: 3px solid #E0E1EA;
  border-radius: 6px 6px 0 0;
}

.main-content__header div {
  color: rgba(0, 0, 0, 0.5);

  font-size: 15px;
  font-weight: 400;
}

.main-content__header div:last-child {
  text-align: right;
}

.main-content {
  border: 1px solid rgba(0, 0, 0, .12);
  border-radius: 6px;
}

.mat-expansion-panel {
  border-radius: 0;

  box-shadow: none !important;
}

.mat-accordion .mat-expansion-panel:first-of-type {
  border-radius: 0 !important;

  box-shadow: none !important;
}

.mat-accordion mat-expansion-panel:last-child mat-expansion-panel-header {
  border-bottom: none !important;
}

.mat-expansion-panel-header {
  padding: 20px 30px 20px 20px;


  border-bottom: 1px solid #E0E1EA;
}

::ng-deep .step__header > .mat-expansion-indicator::after {
  padding: 0 !important;

  border-width: 5px 5px 0 5px;
  border-color: rgba(0, 0, 0, 0.5) transparent transparent transparent;

  transform: rotate(0deg) !important;
}

::ng-deep .step_current .step__header > .mat-expansion-indicator::after,
::ng-deep .step_completed .step__header > .mat-expansion-indicator::after {
  border-color: #fff transparent transparent transparent;
}

.homeworks__container {
  width: 100%;
}

.homeworks__content {
  display: grid;
  grid-template-columns: 35px 580px 200px 70px;
  grid-row: 1;
}

.homeworks__content div:nth-child(1) {
  color: rgba(0, 0, 0, 0.5);

  font-size: 16px;
  font-weight: 400;
}

.homeworks__content div:nth-child(2) {
  color: #000000;

  font-size: 18px;
  font-weight: 400;
}

.homeworks__content div:nth-child(3) {
  color: rgba(0, 0, 0, 0.5);

  font-size: 14px;
  font-weight: 400;
}

.homeworks__content div:last-child {
  color: #2AB930;

  font-size: 18px;
  font-weight: 400;

  text-align: right;
}

.homeworks__description {
  padding: 0 45px 40px 55px;

  border-bottom: 1px solid #E0E1EA;
}

.homework {
  margin-top: 20px;
}

.homework__container {
  margin-left: 10px;
}

.teacher-comment {
  color: #000505;

  font-size: 16px;
  font-weight: 300;
}

.student-comment {
  display: flex;
  justify-content: flex-end;

  text-align: right;
}

.teacher-comment__container {
  margin-top: 20px;

  display: flex;
  align-items: center;
}

.notification {
  margin-top: 20px;

  color: #323460;

  font-weight: 400;
  font-size: 14px;
}

.homework__file {
  margin-top: 10px;

  display: flex;
  align-items: center;
}

.homework__file > div:first-child {
  margin-right: 10px;

  width: 16px;
  height: 16px;
}

.homework__file > div img {
  width: 100%;
  height: 100%;
}

.homework__file > div:last-child {
  color: #000505;

  font-size: 16px;
  font-weight: 300;

  text-decoration: underline;
}

.homework-controls {
  margin-top: 30px;

  display: flex;
  align-items: center;
}

.homework-controls__answer {
  margin-right: 10px;

  width: 600px;
}

.homework__file-input {
  display: flex;
  align-items: center;
  justify-content: center;
}

.homework__file-input input {
  top: 0;
  left: 0;

  width: 0;
  height: 0;

  position: absolute;
}

.attached-file {
  margin-left: 10px;

  padding: 8px 10px;

  width: 150px;

  display: flex;
  align-items: center;
  justify-items: center;

  border: 1px solid #E0E1EA;
  border-radius: 6px;

  background: rgba(92, 97, 201, 0.15);
}

.attached-file img {
  width: 100%;
  height: 100%;
}

.attached-file__name {
  color: #000000;

  font-size: 14px;
  font-weight: 400;

  white-space: nowrap; /* Запрещаем перенос строк */
  overflow: hidden; /* Обрезаем все, что не помещается в область */
  text-overflow: ellipsis; /* Добавляем многоточие */
}


.send-homework {
  margin-left: auto;
}
