<div class="main-content-wrapper">
  <div class="main-controls">
    <input class="main-controls__search" placeholder="Поиск">

    <mat-form-field class="main-controls__status" appearance="outline">
      <mat-label>Статус</mat-label>
      <mat-select>
        <mat-option value="Some">
          Some
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="main-controls__score" appearance="outline">
      <mat-label>Оценка</mat-label>
      <mat-select>
        <mat-option value="Some">
          Some
        </mat-option>
      </mat-select>
    </mat-form-field>

    <button mat-button class="round inverted">
      <img src="./assets/img/cross.svg" alt="cross">
    </button>

    <div class="student__container user-student__container">
      <div class="student__info user-student__info">
        <div>Вася Пупкин</div>
        <div>mail@mail.ru</div>
      </div>
      <div class="student__avatar">
        <img src="./assets/img/ava.png" alt="ava">
      </div>
    </div>

  </div>

  <div class="main-content">
    <div class="main-content__header">
      <div>№</div>
      <div>Тема</div>
      <div>Статус</div>
      <div>Оценка</div>
    </div>
    <div class="main-content__homeworks">
      <mat-accordion>
        <mat-expansion-panel *ngFor="let homework of homeworks; index as index">
          <mat-expansion-panel-header (click)="getCurrentHomework(homework.id)"
                                      class="homeworks__container step__header">
            <div class="homeworks__content">
              <div>{{index + 1}}</div>
              <div>{{homework.topic}}</div>
              <div *ngIf="homework.answerStatus === 'RETAKE'">Пересдать</div>
              <div *ngIf="homework.answerStatus === 'ASSESSED'">Зачет</div>
              <div *ngIf="homework.answerStatus === 'PENDING'">Ожидает проверки</div>
              <div *ngIf="homework.answerStatus === null">Сдать до {{homework.deadLine | date: 'short'}}</div>
              <div appMarkColor>{{homework.realGrade}}</div>
            </div>
          </mat-expansion-panel-header>
          <ng-template matExpansionPanelContent>
            <div class="homeworks__description">
              <div style="display: flex; margin-top: 20px;">
                <div class="student__avatar">
                  <img src="./assets/img/ava.png" alt="ava">
                </div>
                <div class="homework__container">
                  <div class="teacher-comment">
<!--                   TODO  ADD task for Slavik ADD DESCRIPTION to homeworkPreviewDTO-->
                   {{homework.description}}
                  </div>
                  <div class="homework__file">
                    <div><img src="./assets/img/archive-thin.svg" alt="archive"></div>
<!--                    TODO replaced by fileUrl when backend is ready-->
                    <div><a [href]="homework.taskResourceUrl">homework.zip{{homework.taskResourceUrl}}</a></div>
                  </div>
                </div>
              </div>
              <div *ngIf="homeworkAnswersMap.has(homework.id)">
                <div class="homework" *ngFor="let answer of homeworkAnswersMap.get(homework.id)">
                  <div class="student-comment">
                    <div class="homework__container" style="margin-right: 10px">
                      <div class="teacher-comment">
                        {{answer.studentComment}}
                      </div>
                      <div class="homework__file student-comment">
                        <div><img src="./assets/img/archive-thin.svg" alt="archive"></div>
                        <div>{{answer.answerResourceUrl}}</div>
                      </div>
                    </div>
                    <div class="student__avatar">
                      <img src="https://news.gsu.edu/files/2019/10/monkey-800x600.jpg" alt="ava">
                    </div>
                  </div>
                  <div *ngIf="answer.teacherComment">
                    <div class="teacher-comment__container">
                      <div class="teacher__avatar">
                        <img src="./assets/img/ava.png" alt="ava">
                      </div>
                      <div class="homework__container">
                        <div class="teacher-comment">
                          {{answer.teacherComment}}
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="notification" *ngIf="homework.answerStatus === 'PENDING'">
                Ожидайте, пока преподаватель проверит.
              </div>
              <form [formGroup]="sendAnswerForm"
                    *ngIf="sendAnswerForm && homework.answerStatus !== 'PENDING' && homework.answerStatus !== 'ASSESSED' ">
                <div class="homework-controls">
                  <input class=" main-controls__search homework-controls__answer"
                         formControlName="studentComment"
                         placeholder="Ответ">

                  <div class="homework__file-input">
                    <button mat-button
                            class="round inverted option-control__file"
                            (click)="questionFileInput.click()">
                      <img src="./assets/img/clip.svg" alt="file">
                    </button>
                    <input type="file"
                           formControlName="file"
                           #questionFileInput
                           (change)="handleFileInputEvent($event)">
                  </div>
                  <div class="attached-file" *ngIf="fileToUpload">
                    <div class="attached-file__name">
                      {{fileToUpload.fileList[0].name}}
                    </div>
                  </div>

                  <div class="send-homework">
                    <button mat-raised-button
                            (click)="submit(homework.id)" [disabled]="sendAnswerForm.invalid || submitted"
                            color="primary">
                      Отправить
                    </button>
                  </div>
                </div>
              </form>
            </div>
          </ng-template>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
  </div>
</div>
