<div class="main-content-wrapper">
  <div class="main-content__homeworks">
    <div class="shadow"></div>
    <div class="table-container">
      <table>
        <tr>
          <td class="student">
            <div class="student__header">ФИО</div>
            <div (click)="openAddHomeworkDialog()" class="add__homework">
              <div class="add__homework-button">+</div>
            </div>
          </td>

          <td *ngFor="let hw of homeworks; index as i" class="homework__date">
            <div class="homework__date-container">
              <div>{{homeworks.length - i}}</div>
              <div>{{hw.lessonDate | date:'d.MM.yy'}}</div>
            </div>
          </td>

        </tr>

        <tr *ngFor="let row of rows; index as i">
          <td>
            <div class="student__container">
              <div class="student__number">
                {{i + 1}}
              </div>
              <div class="student__avatar">
                <img src="./assets/img/ava.png" alt="ava">
              </div>
              <div class="student__info">
                <div>{{row.student.name}} {{row.student.lastName}}</div>
              </div>
            </div>
          </td>

          <td *ngFor="let answer of row.answers" class="homework__rating">
            <!--            if homework is checked-->
            <div *ngIf="answer.realGrade !== DEFAULT_EMPTY_GRADE"
                 (click)="openCheckHomeworkDialog(answer)"
                 class="homework__rating-container">
              <div appMarkColor *ngIf="answer.realGrade !== null" >{{answer.realGrade}}</div>
              <div *ngIf="answer.realGrade === null">-</div>
              <div *ngIf="answer.answerStatus === 'ASSESSED'">
                <div>
                  <img src="./assets/img/eye-gray.svg" alt="show">
                </div>
              </div>
              <!--              if homework is retaken-->
              <div *ngIf="answer.answerStatus !== 'ASSESSED'" class="homework-retaken">
                <div>
                  <img src="./assets/img/eye-white.svg" alt="show">
                </div>
              </div>
            </div>
            <!--            if homework is not completed-->
            <div *ngIf="answer.realGrade === DEFAULT_EMPTY_GRADE"
                 class="homework__rating-container homework__rating-container__no-answer">
              <div>
                <img src="./assets/img/cross-black.svg" alt="show">
              </div>
            </div>
          </td>

        </tr>
      </table>
    </div>
  </div>
</div>
