.main-content-wrapper {
  padding: 30px 20px;

  width: 100%;

  background-color: #ffffff;

  border: 1px solid #E0E1EA;
  border-radius: 0 4px 4px 4px;
}

.main-content__homeworks {
  position: relative;

  width: 100%;
}

.table-container {
  overflow-y: auto;
}

.shadow {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;

  width: 40px;

  background: linear-gradient(270deg, #FFFFFF 50%, rgba(255, 255, 255, 0) 106.25%);

  z-index: 999;
}

table {
  width: 100%;

  border: 1px solid rgba(0, 0, 0, .12);
  border-radius: 6px;
  border-spacing: 0;
}

.flip {
  transform: rotateX(180deg);
  -ms-transform: rotateX(180deg); /* IE 9 */
  -webkit-transform: rotateX(180deg); /* Safari and Chrome */
}

.mat-row {
  height: auto;
}

.mat-cell {
  padding: 0;
}

.mat-header-row {
  padding: 0;
  height: auto;
}

.student {
  display: flex;
  align-items: center;

  min-width: 350px;

  border-bottom: 3px solid #E0E1EA;
}

.student__header {
  margin-left: 55px;
  margin-right: 200px;

  color: rgba(0, 0, 0, 0.5);

  font-size: 15px;
  font-weight: 400;
}


.student__container {
  display: flex;
  align-items: center;
}

.student__number {
  margin-right: 10px;

  width: 30px;

  color: #808080;

  text-align: right;

  font-size: 16px;
  font-weight: 400;
}

.student__avatar {
  margin-right: 10px;

  width: 32px;
  height: 32px;
}

.student__avatar img {
  width: 100%;
  height: 100%;

  border-radius: 50%;
}

.student__info div {
  max-width: 200px;

  color: #000000;

  font-size: 14px;
  font-weight: 400;
}

.homework__date-container {
  margin: 5px 15px 5px 0;

  width: 70px;
  height: 40px;

  color: #000000;

  font-size: 14px;

  background: rgba(92, 97, 201, 0.15);
  border-radius: 4px;
}

.add__homework {
  margin: 5px 15px 6px 0;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 70px;
  height: 40px;

  color: #000000;

  font-size: 18px;
  font-weight: 400;

  background: rgba(92, 97, 201, 0.15);
  border-radius: 4px;

  cursor: pointer;
}

.homework__date-container div {
  font-size: 14px;
  font-weight: 400;

  text-align: center;
}

.add__homework-button {
  color: #000000;

  font-size: 24px;
  font-weight: 400;
}

.homework__date-container div:last-child {
  color: rgba(0, 0, 0, 0.5);
}

.homework__rating-container {
  margin: 5px 0;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 70px;
  height: 40px;

  border: 1px solid rgba(92, 97, 291, 0.15);
  border-radius: 6px;

  background: #FAFAFA;

  cursor: pointer;


  transition: .1s;
  -webkit-transition: .1s;
  -moz-transition: .1s;
  -o-transition: .1s;
  -ms-transition: .1s;
}

.homework__rating-container:hover {
  cursor: pointer;

  box-shadow: 0 1px 1px rgba(50, 52, 96, 0.2), 0 1px 3px rgba(50, 52, 96, 0.15), 0 4px 8px rgba(50, 52, 96, 0.1);
}

.homework__rating-container div {
  width: 35px;

  text-align: center;
}


.homework__rating-container > div:first-child {
  border-right: 1px solid rgba(92, 97, 201, 0.15);
}

.homework__rating-container div:last-child {
  height: 40px;

  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 0 4px 4px 0;
}

.homework__rating-container div:last-child div {
  width: 15px;
  height: 10px;
}

.homework__rating-container div:last-child div img {
  width: 100%;
  height: 100%;
}

.homework__rating-container__no-answer {
  background: rgba(185, 42, 42, 0.1);
}

.homework__rating-container__no-answer > div:first-child {
  border-right: none;
}

.homework-retaken {
  background: #4248C5;
  margin-right: -1px;
}

td {
  border-bottom: 1px solid #E0E1EA;
}

.homework__rating, .homework__date {
  margin-right: 15px;

  width: 80px;
}

.homework__date {
  border-bottom: 3px solid #E0E1EA;
}

